In [254]:
import pandas as pd
import numpy as np
import pymongo
import pprint

In [220]:
allstar_db = pd.read_csv("../data/AllstarFull.csv")

In [221]:
allstar_db = allstar_db[['yearID', 'teamID', 'playerID']]
allstar_db = allstar_db.rename(columns={'yearID':'year', 'teamID':'team'})

In [222]:
teams_db = pd.read_csv("../data/Teams.csv")

In [223]:
teams_db = teams_db[['yearID', 'teamID', 'W', 'L', 'WSWin', 'attendance']]
teams_db = teams_db.rename(columns={'yearID':'year', 'teamID':'team', 'W':'Wins', 'L':'Losses', 'WSWin': 'Championship'})

In [217]:
teams_db.tail()

      year team  Wins  Losses Championship  attendance
2800  2015  LAN    92      70            N   3764815.0
2801  2015  SFN    84      78            N   3375882.0
2802  2015  ARI    79      83            N   2080145.0
2803  2015  SDN    74      88            N   2459742.0
2804  2015  COL    68      94            N   2506789.0

In [224]:
salaries_db = pd.read_csv("../data/Salaries.csv")

In [225]:
salaries_db = salaries_db[['yearID', 'teamID', 'salary']]
salaries_db = salaries_db.rename(columns={'yearID': 'year', 'teamID':'team'})

In [226]:
before_1985 = teams_db['year']>=1985

In [227]:
teams_db = teams_db[before_1985]

In [228]:
allstar_1985 = allstar_db['year']>=1985
allstar_db = allstar_db[allstar_1985]

In [229]:
teams_db.head()

      year team  Wins  Losses Championship  attendance
1917  1985  ATL    66      96            N   1350137.0
1918  1985  BAL    83      78            N   2132387.0
1919  1985  BOS    81      81            N   1786633.0
1920  1985  CAL    90      72            N   2567427.0
1921  1985  CHA    85      77            N   1669888.0

In [230]:
allstar_db.head()

      year team   playerID
3023  1985  DET  morrija02
3024  1985  CHA   fiskca01
3025  1985  BAL  murraed02
3026  1985  DET  whitalo01
3027  1985  KCA  brettge01

In [231]:
salaries_db.head()

   year team  salary
0  1985  ATL  870000
1  1985  ATL  550000
2  1985  ATL  545000
3  1985  ATL  633333
4  1985  ATL  625000

In [232]:
team_salary_db = pd.merge(teams_db, salaries_db, on=['year','team'])
team_salary_db

       year team  Wins  Losses Championship  attendance    salary
0      1985  ATL    66      96            N   1350137.0    870000
1      1985  ATL    66      96            N   1350137.0    550000
2      1985  ATL    66      96            N   1350137.0    545000
3      1985  ATL    66      96            N   1350137.0    633333
4      1985  ATL    66      96            N   1350137.0    625000
5      1985  ATL    66      96            N   1350137.0    800000
6      1985  ATL    66      96            N   1350137.0    150000
7      1985  ATL    66      96            N   1350137.0    483333
8      1985  ATL    66      96            N   1350137.0    772000
9      1985  ATL    66      96            N   1350137.0    250000
10     1985  ATL    66      96            N   1350137.0   1500000
11     1985  ATL    66      96            N   1350137.0    455000
12     1985  ATL    66      96            N   1350137.0    407500
13     1985  ATL    66      96            N   1350137.0    275000
14     1985  ATL    66      96            N   1350137.0    775000
15     1985  ATL    66      96            N   1350137.0   1625000
16     1985  ATL    66      96            N   1350137.0    616667
17     1985  ATL    66      96            N   1350137.0    450000
18     1985  ATL    66      96            N   1350137.0    120000
19     1985  ATL    66      96            N   1350137.0    750000
20     1985  ATL    66      96            N   1350137.0   1354167
21     1985  ATL    66      96            N   1350137.0    800000
22     1985  BAL    83      78            N   2132387.0    625000
23     1985  BAL    83      78            N   2132387.0    480000
24     1985  BAL    83      78            N   2132387.0    437500
25     1985  BAL    83      78            N   2132387.0    512500
26     1985  BAL    83      78            N   2132387.0    375000
27     1985  BAL    83      78            N   2132387.0    641667
28     1985  BAL    83      78            N   2132387.0    450000
29     1985  BAL    83      78            N   2132387.0    483333
...     ...  ...   ...     ...          ...         ...       ...
25545  2015  SDN    74      88            N   2459742.0   1375000
25546  2015  SDN    74      88            N   2459742.0  14450000
25547  2015  SDN    74      88            N   2459742.0  14500000
25548  2015  SDN    74      88            N   2459742.0   4250000
25549  2015  SDN    74      88            N   2459742.0    525300
25550  2015  COL    68      94            N   2506789.0    512500
25551  2015  COL    68      94            N   2506789.0   2600000
25552  2015  COL    68      94            N   2506789.0   1000000
25553  2015  COL    68      94            N   2506789.0    517500
25554  2015  COL    68      94            N   2506789.0   1400000
25555  2015  COL    68      94            N   2506789.0    509500
25556  2015  COL    68      94            N   2506789.0    509500
25557  2015  COL    68      94            N   2506789.0   1500000
25558  2015  COL    68      94            N   2506789.0    512500
25559  2015  COL    68      94            N   2506789.0    512500
25560  2015  COL    68      94            N   2506789.0  16000000
25561  2015  COL    68      94            N   2506789.0   2250000
25562  2015  COL    68      94            N   2506789.0   3100000
25563  2015  COL    68      94            N   2506789.0   5500000
25564  2015  COL    68      94            N   2506789.0    517500
25565  2015  COL    68      94            N   2506789.0   5500000
25566  2015  COL    68      94            N   2506789.0   2475000
25567  2015  COL    68      94            N   2506789.0    509500
25568  2015  COL    68      94            N   2506789.0   1087600
25569  2015  COL    68      94            N   2506789.0   6750000
25570  2015  COL    68      94            N   2506789.0   1300000
25571  2015  COL    68      94            N   2506789.0  12500000
25572  2015  COL    68      94            N   2506789.0   2800000
25573  2015  COL    68      94            N   2506789.0   5825000
25574  2015  COL    68      94            N   2506789.0  20000000

[25575 rows x 7 columns]

In [209]:
#merge_db = pd.merge(team_salary_db, allstar_db, on =['year', 'team'])

In [210]:
#merge_db

In [243]:
#groupby_db = team_salary_db.groupby(['year', 'team', 'Wins', 'Losses', 'Championship'])
#groupby_db = groupby_db['salary'].sum()
#groupby_db.head()
#team_salary_db['Total Salary'] = team_salary_db['salary'].groupby(team_salary_db['year', 'team']).transform('sum')
#df['Data4'] = df['Data3'].groupby(df['Date']).transform('sum')
#team_salary_db.head()
team_salary_db=team_salary_db.groupby(['year', 'team', 'Wins', 'Losses', 'Championship', 'attendance'], as_index = False).salary.sum()
team_salary_db

     year team  Wins  Losses Championship  attendance     salary
0    1985  ATL    66      96            N   1350137.0   14807000
1    1985  BAL    83      78            N   2132387.0   11560712
2    1985  BOS    81      81            N   1786633.0   10897560
3    1985  CAL    90      72            N   2567427.0   14427894
4    1985  CHA    85      77            N   1669888.0    9846178
5    1985  CHN    77      84            N   2161534.0   12702917
6    1985  CIN    89      72            N   1834619.0    8359917
7    1985  CLE    60     102            N    655181.0    6551666
8    1985  DET    84      77            N   2286609.0   10348143
9    1985  HOU    83      79            N   1184314.0    9993051
10   1985  KCA    91      71            Y   2162717.0    9321179
11   1985  LAN    95      67            N   3264593.0   10967917
12   1985  MIN    77      85            N   1651814.0    5764821
13   1985  ML4    71      90            N   1360265.0   11284107
14   1985  MON    84      77            N   1502494.0    9470166
15   1985  NYA    97      64            N   2214587.0   14238204
16   1985  NYN    98      64            N   2761601.0   10834762
17   1985  OAK    77      85            N   1334599.0    9058606
18   1985  PHI    75      87            N   1830350.0   10124966
19   1985  PIT    57     104            N    735900.0    9227500
20   1985  SDN    83      79            N   2210352.0   11036583
21   1985  SEA    74      88            N   1128696.0    4613000
22   1985  SFN    62     100            N    818697.0    8221714
23   1985  SLN   101      61            N   2637563.0   11817083
24   1985  TEX    62      99            N   1112497.0    7676500
25   1985  TOR    99      62            N   2468925.0    8812550
26   1986  ATL    72      89            N   1387181.0   17102786
27   1986  BAL    73      89            N   1973176.0   13001258
28   1986  BOS    95      66            N   2147641.0   14402239
29   1986  CAL    92      70            N   2655872.0   14427258
..    ...  ...   ...     ...          ...         ...        ...
830  2015  ARI    79      83            N   2080145.0   61834000
831  2015  ATL    67      95            N   2001392.0   71781250
832  2015  BAL    81      81            N   2281202.0  115044833
833  2015  BOS    78      84            N   2880694.0  181103400
834  2015  CHA    76      86            N   1755810.0  112373700
835  2015  CHN    97      65            N   2959812.0  115879310
836  2015  CIN    64      98            N   2419506.0  113072286
837  2015  CLE    81      80            N   1388905.0   87663766
838  2015  COL    68      94            N   2506789.0   95688600
839  2015  DET    74      87            N   2726048.0  172284750
840  2015  HOU    86      76            N   2153585.0   72256200
841  2015  KCA    95      67            Y   2708549.0  112107025
842  2015  LAA    85      77            N   3012765.0  120005415
843  2015  LAN    92      70            N   3764815.0  215792000
844  2015  MIA    71      91            N   1752235.0   68056500
845  2015  MIL    68      94            N   2542558.0  100850000
846  2015  MIN    83      79            N   2220054.0  107755000
847  2015  NYA    87      75            N   3193795.0  212751957
848  2015  NYN    90      72            N   2569753.0   96766683
849  2015  OAK    68      94            N   1768175.0   79053501
850  2015  PHI    63      99            N   1831080.0  111693000
851  2015  PIT    98      64            N   2498596.0   88892499
852  2015  SDN    74      88            N   2459742.0  118441300
853  2015  SEA    76      86            N   2193581.0  122208700
854  2015  SFN    84      78            N   3375882.0  164701500
855  2015  SLN   100      62            N   3520889.0  119241500
856  2015  TBA    80      82            N   1287054.0   64521233
857  2015  TEX    88      74            N   2491875.0  143742789
858  2015  TOR    93      69            N   2794891.0  112992400
859  2015  WAS    83      79            N   2619843.0  155587472

[860 rows x 7 columns]

In [247]:
team_json = team_salary_db.to_json(orient='records')

In [255]:
pprint.pprint(team_json)

'[{"year":1985,"team":"ATL","Wins":66,"Losses":96,"Championship":"N","attendance":1350137.0,"salary":14807000},{"year":1985,"team":"BAL","Wins":83,"Losses":78,"Championship":"N","attendance":2132387.0,"salary":11560712},{"year":1985,"team":"BOS","Wins":81,"Losses":81,"Championship":"N","attendance":1786633.0,"salary":10897560},{"year":1985,"team":"CAL","Wins":90,"Losses":72,"Championship":"N","attendance":2567427.0,"salary":14427894},{"year":1985,"team":"CHA","Wins":85,"Losses":77,"Championship":"N","attendance":1669888.0,"salary":9846178},{"year":1985,"team":"CHN","Wins":77,"Losses":84,"Championship":"N","attendance":2161534.0,"salary":12702917},{"year":1985,"team":"CIN","Wins":89,"Losses":72,"Championship":"N","attendance":1834619.0,"salary":8359917},{"year":1985,"team":"CLE","Wins":60,"Losses":102,"Championship":"N","attendance":655181.0,"salary":6551666},{"year":1985,"team":"DET","Wins":84,"Losses":77,"Championship":"N","attendance":2286609.0,"salary":10348143},{"year":1985,"team":"HOU","Wins":83,"Losses":79,"Championship":"N","attendance":1184314.0,"salary":9993051},{"year":1985,"team":"KCA","Wins":91,"Losses":71,"Championship":"Y","attendance":2162717.0,"salary":9321179},{"year":1985,"team":"LAN","Wins":95,"Losses":67,"Championship":"N","attendance":3264593.0,"salary":10967917},{"year":1985,"team":"MIN","Wins":77,"Losses":85,"Championship":"N","attendance":1651814.0,"salary":5764821},{"year":1985,"team":"ML4","Wins":71,"Losses":90,"Championship":"N","attendance":1360265.0,"salary":11284107},{"year":1985,"team":"MON","Wins":84,"Losses":77,"Championship":"N","attendance":1502494.0,"salary":9470166},{"year":1985,"team":"NYA","Wins":97,"Losses":64,"Championship":"N","attendance":2214587.0,"salary":14238204},{"year":1985,"team":"NYN","Wins":98,"Losses":64,"Championship":"N","attendance":2761601.0,"salary":10834762},{"year":1985,"team":"OAK","Wins":77,"Losses":85,"Championship":"N","attendance":1334599.0,"salary":9058606},{"year":1985,"team":"PHI","Wins":75,"Losses":87,"Championship":"N","attendance":1830350.0,"salary":10124966},{"year":1985,"team":"PIT","Wins":57,"Losses":104,"Championship":"N","attendance":735900.0,"salary":9227500},{"year":1985,"team":"SDN","Wins":83,"Losses":79,"Championship":"N","attendance":2210352.0,"salary":11036583},{"year":1985,"team":"SEA","Wins":74,"Losses":88,"Championship":"N","attendance":1128696.0,"salary":4613000},{"year":1985,"team":"SFN","Wins":62,"Losses":100,"Championship":"N","attendance":818697.0,"salary":8221714},{"year":1985,"team":"SLN","Wins":101,"Losses":61,"Championship":"N","attendance":2637563.0,"salary":11817083},{"year":1985,"team":"TEX","Wins":62,"Losses":99,"Championship":"N","attendance":1112497.0,"salary":7676500},{"year":1985,"team":"TOR","Wins":99,"Losses":62,"Championship":"N","attendance":2468925.0,"salary":8812550},{"year":1986,"team":"ATL","Wins":72,"Losses":89,"Championship":"N","attendance":1387181.0,"salary":17102786},{"year":1986,"team":"BAL","Wins":73,"Losses":89,"Championship":"N","attendance":1973176.0,"salary":13001258},{"year":1986,"team":"BOS","Wins":95,"Losses":66,"Championship":"N","attendance":2147641.0,"salary":14402239},{"year":1986,"team":"CAL","Wins":92,"Losses":70,"Championship":"N","attendance":2655872.0,"salary":14427258},{"year":1986,"team":"CHA","Wins":72,"Losses":90,"Championship":"N","attendance":1424313.0,"salary":10418819},{"year":1986,"team":"CHN","Wins":70,"Losses":90,"Championship":"N","attendance":1859102.0,"salary":17208165},{"year":1986,"team":"CIN","Wins":86,"Losses":76,"Championship":"N","attendance":1692432.0,"salary":11906388},{"year":1986,"team":"CLE","Wins":84,"Losses":78,"Championship":"N","attendance":1471805.0,"salary":7809500},{"year":1986,"team":"DET","Wins":87,"Losses":75,"Championship":"N","attendance":1899437.0,"salary":12335714},{"year":1986,"team":"HOU","Wins":96,"Losses":66,"Championship":"N","attendance":1734276.0,"salary":9873276},{"year":1986,"team":"KCA","Wins":76,"Losses":86,"Championship":"N","attendance":2320794.0,"salary":13043698},{"year":1986,"team":"LAN","Wins":73,"Losses":89,"Championship":"N","attendance":3023208.0,"salary":14913776},{"year":1986,"team":"MIN","Wins":71,"Losses":91,"Championship":"N","attendance":1255453.0,"salary":8748167},{"year":1986,"team":"ML4","Wins":77,"Losses":84,"Championship":"N","attendance":1265041.0,"salary":9943642},{"year":1986,"team":"MON","Wins":78,"Losses":83,"Championship":"N","attendance":1128981.0,"salary":11103600},{"year":1986,"team":"NYA","Wins":90,"Losses":72,"Championship":"N","attendance":2268030.0,"salary":18494253},{"year":1986,"team":"NYN","Wins":108,"Losses":54,"Championship":"Y","attendance":2767601.0,"salary":15393714},{"year":1986,"team":"OAK","Wins":76,"Losses":86,"Championship":"N","attendance":1314646.0,"salary":9779421},{"year":1986,"team":"PHI","Wins":86,"Losses":75,"Championship":"N","attendance":1933335.0,"salary":11590166},{"year":1986,"team":"PIT","Wins":64,"Losses":98,"Championship":"N","attendance":1000917.0,"salary":10843500},{"year":1986,"team":"SDN","Wins":74,"Losses":88,"Championship":"N","attendance":1805716.0,"salary":11380693},{"year":1986,"team":"SEA","Wins":67,"Losses":95,"Championship":"N","attendance":1029045.0,"salary":5958309},{"year":1986,"team":"SFN","Wins":83,"Losses":79,"Championship":"N","attendance":1528748.0,"salary":8947000},{"year":1986,"team":"SLN","Wins":79,"Losses":82,"Championship":"N","attendance":2471974.0,"salary":9875010},{"year":1986,"team":"TEX","Wins":87,"Losses":75,"Championship":"N","attendance":1692002.0,"salary":6743119},{"year":1986,"team":"TOR","Wins":86,"Losses":76,"Championship":"N","attendance":2455477.0,"salary":12611047},{"year":1987,"team":"ATL","Wins":69,"Losses":92,"Championship":"N","attendance":1217402.0,"salary":16544560},{"year":1987,"team":"BAL","Wins":67,"Losses":95,"Championship":"N","attendance":1835692.0,"salary":13900273},{"year":1987,"team":"BOS","Wins":78,"Losses":84,"Championship":"N","attendance":2231551.0,"salary":10144167},{"year":1987,"team":"CAL","Wins":75,"Losses":87,"Championship":"N","attendance":2696299.0,"salary":12843499},{"year":1987,"team":"CHA","Wins":77,"Losses":85,"Championship":"N","attendance":1208060.0,"salary":10641843},{"year":1987,"team":"CHN","Wins":76,"Losses":85,"Championship":"N","attendance":2035130.0,"salary":14307999},{"year":1987,"team":"CIN","Wins":84,"Losses":78,"Championship":"N","attendance":2185205.0,"salary":9281500},{"year":1987,"team":"CLE","Wins":61,"Losses":101,"Championship":"N","attendance":1077898.0,"salary":8513750},{"year":1987,"team":"DET","Wins":98,"Losses":64,"Championship":"N","attendance":2061830.0,"salary":12122881},{"year":1987,"team":"HOU","Wins":76,"Losses":86,"Championship":"N","attendance":1909902.0,"salary":12608371},{"year":1987,"team":"KCA","Wins":83,"Losses":79,"Championship":"N","attendance":2392471.0,"salary":11828056},{"year":1987,"team":"LAN","Wins":73,"Losses":89,"Championship":"N","attendance":2797409.0,"salary":13675403},{"year":1987,"team":"MIN","Wins":85,"Losses":77,"Championship":"Y","attendance":2081976.0,"salary":6397500},{"year":1987,"team":"ML4","Wins":91,"Losses":71,"Championship":"N","attendance":1909244.0,"salary":7293224},{"year":1987,"team":"MON","Wins":91,"Losses":71,"Championship":"N","attendance":1850324.0,"salary":6942052},{"year":1987,"team":"NYA","Wins":89,"Losses":73,"Championship":"N","attendance":2427672.0,"salary":17099714},{"year":1987,"team":"NYN","Wins":92,"Losses":70,"Championship":"N","attendance":3034129.0,"salary":13846714},{"year":1987,"team":"OAK","Wins":81,"Losses":81,"Championship":"N","attendance":1678921.0,"salary":11680839},{"year":1987,"team":"PHI","Wins":80,"Losses":82,"Championship":"N","attendance":2100110.0,"salary":11514233},{"year":1987,"team":"PIT","Wins":80,"Losses":82,"Championship":"N","attendance":1161193.0,"salary":7652000},{"year":1987,"team":"SDN","Wins":65,"Losses":97,"Championship":"N","attendance":1454061.0,"salary":11065796},{"year":1987,"team":"SEA","Wins":78,"Losses":84,"Championship":"N","attendance":1134255.0,"salary":2263500},{"year":1987,"team":"SFN","Wins":90,"Losses":72,"Championship":"N","attendance":1917168.0,"salary":7290000},{"year":1987,"team":"SLN","Wins":95,"Losses":67,"Championship":"N","attendance":3072122.0,"salary":11758000},{"year":1987,"team":"TEX","Wins":75,"Losses":87,"Championship":"N","attendance":1763053.0,"salary":880000},{"year":1987,"team":"TOR","Wins":96,"Losses":66,"Championship":"N","attendance":2778429.0,"salary":10479501},{"year":1988,"team":"ATL","Wins":54,"Losses":106,"Championship":"N","attendance":848089.0,"salary":12728174},{"year":1988,"team":"BAL","Wins":54,"Losses":107,"Championship":"N","attendance":1660738.0,"salary":13532075},{"year":1988,"team":"BOS","Wins":89,"Losses":73,"Championship":"N","attendance":2464851.0,"salary":13896092},{"year":1988,"team":"CAL","Wins":75,"Losses":87,"Championship":"N","attendance":2340925.0,"salary":11947388},{"year":1988,"team":"CHA","Wins":71,"Losses":90,"Championship":"N","attendance":1115749.0,"salary":6390000},{"year":1988,"team":"CHN","Wins":77,"Losses":85,"Championship":"N","attendance":2089034.0,"salary":13119198},{"year":1988,"team":"CIN","Wins":87,"Losses":74,"Championship":"N","attendance":2072528.0,"salary":8888409},{"year":1988,"team":"CLE","Wins":78,"Losses":84,"Championship":"N","attendance":1411610.0,"salary":8936500},{"year":1988,"team":"DET","Wins":88,"Losses":74,"Championship":"N","attendance":2081162.0,"salary":12869571},{"year":1988,"team":"HOU","Wins":82,"Losses":80,"Championship":"N","attendance":1933505.0,"salary":12286167},{"year":1988,"team":"KCA","Wins":84,"Losses":77,"Championship":"N","attendance":2350181.0,"salary":14556562},{"year":1988,"team":"LAN","Wins":94,"Losses":67,"Championship":"Y","attendance":2980262.0,"salary":16850515},{"year":1988,"team":"MIN","Wins":91,"Losses":71,"Championship":"N","attendance":3030672.0,"salary":12462666},{"year":1988,"team":"ML4","Wins":87,"Losses":75,"Championship":"N","attendance":1923238.0,"salary":8402000},{"year":1988,"team":"MON","Wins":81,"Losses":81,"Championship":"N","attendance":1478659.0,"salary":9603333},{"year":1988,"team":"NYA","Wins":85,"Losses":76,"Championship":"N","attendance":2633701.0,"salary":19441152},{"year":1988,"team":"NYN","Wins":100,"Losses":60,"Championship":"N","attendance":3055445.0,"salary":15269314},{"year":1988,"team":"OAK","Wins":104,"Losses":58,"Championship":"N","attendance":2287335.0,"salary":9690000},{"year":1988,"team":"PHI","Wins":65,"Losses":96,"Championship":"N","attendance":1990041.0,"salary":13838000},{"year":1988,"team":"PIT","Wins":85,"Losses":75,"Championship":"N","attendance":1866713.0,"salary":5998500},{"year":1988,"team":"SDN","Wins":83,"Losses":78,"Championship":"N","attendance":1506896.0,"salary":9561002},{"year":1988,"team":"SEA","Wins":68,"Losses":93,"Championship":"N","attendance":1022398.0,"salary":7342450},{"year":1988,"team":"SFN","Wins":83,"Losses":79,"Championship":"N","attendance":1785297.0,"salary":12380000},{"year":1988,"team":"SLN","Wins":76,"Losses":86,"Championship":"N","attendance":2892799.0,"salary":12880000},{"year":1988,"team":"TEX","Wins":70,"Losses":91,"Championship":"N","attendance":1581901.0,"salary":5342131},{"year":1988,"team":"TOR","Wins":87,"Losses":75,"Championship":"N","attendance":2595175.0,"salary":12241225},{"year":1989,"team":"ATL","Wins":63,"Losses":97,"Championship":"N","attendance":984930.0,"salary":11112334},{"year":1989,"team":"BAL","Wins":87,"Losses":75,"Championship":"N","attendance":2535208.0,"salary":8275167},{"year":1989,"team":"BOS","Wins":83,"Losses":79,"Championship":"N","attendance":2510012.0,"salary":17481748},{"year":1989,"team":"CAL","Wins":91,"Losses":71,"Championship":"N","attendance":2647291.0,"salary":15097833},{"year":1989,"team":"CHA","Wins":69,"Losses":92,"Championship":"N","attendance":1045651.0,"salary":7265410},{"year":1989,"team":"CHN","Wins":93,"Losses":69,"Championship":"N","attendance":2491942.0,"salary":10668000},{"year":1989,"team":"CIN","Wins":75,"Losses":87,"Championship":"N","attendance":1979320.0,"salary":11072000},{"year":1989,"team":"CLE","Wins":73,"Losses":89,"Championship":"N","attendance":1285542.0,"salary":9094500},{"year":1989,"team":"DET","Wins":59,"Losses":103,"Championship":"N","attendance":1543656.0,"salary":15146404},{"year":1989,"team":"HOU","Wins":86,"Losses":76,"Championship":"N","attendance":1834908.0,"salary":15029500},{"year":1989,"team":"KCA","Wins":92,"Losses":70,"Championship":"N","attendance":2477700.0,"salary":18683568},{"year":1989,"team":"LAN","Wins":77,"Losses":83,"Championship":"N","attendance":2944653.0,"salary":21071562},{"year":1989,"team":"MIN","Wins":80,"Losses":82,"Championship":"N","attendance":2277438.0,"salary":15531666},{"year":1989,"team":"ML4","Wins":81,"Losses":81,"Championship":"N","attendance":1970735.0,"salary":11533000},{"year":1989,"team":"MON","Wins":81,"Losses":81,"Championship":"N","attendance":1783533.0,"salary":13807389},{"year":1989,"team":"NYA","Wins":74,"Losses":87,"Championship":"N","attendance":2170485.0,"salary":17114375},{"year":1989,"team":"NYN","Wins":87,"Losses":75,"Championship":"N","attendance":2918710.0,"salary":19885071},{"year":1989,"team":"OAK","Wins":99,"Losses":63,"Championship":"Y","attendance":2667225.0,"salary":15613070},{"year":1989,"team":"PHI","Wins":67,"Losses":95,"Championship":"N","attendance":1861985.0,"salary":10604000},{"year":1989,"team":"PIT","Wins":74,"Losses":88,"Championship":"N","attendance":1374141.0,"salary":12737500},{"year":1989,"team":"SDN","Wins":89,"Losses":73,"Championship":"N","attendance":2009031.0,"salary":14195000},{"year":1989,"team":"SEA","Wins":73,"Losses":89,"Championship":"N","attendance":1298443.0,"salary":9779500},{"year":1989,"team":"SFN","Wins":92,"Losses":70,"Championship":"N","attendance":2059701.0,"salary":14962834},{"year":1989,"team":"SLN","Wins":86,"Losses":76,"Championship":"N","attendance":3080980.0,"salary":16078833},{"year":1989,"team":"TEX","Wins":83,"Losses":79,"Championship":"N","attendance":2043993.0,"salary":11893781},{"year":1989,"team":"TOR","Wins":89,"Losses":73,"Championship":"N","attendance":3375883.0,"salary":16261666},{"year":1990,"team":"ATL","Wins":65,"Losses":97,"Championship":"N","attendance":980129.0,"salary":14555501},{"year":1990,"team":"BAL","Wins":76,"Losses":85,"Championship":"N","attendance":2415189.0,"salary":9680084},{"year":1990,"team":"BOS","Wins":88,"Losses":74,"Championship":"N","attendance":2528986.0,"salary":20558333},{"year":1990,"team":"CAL","Wins":80,"Losses":82,"Championship":"N","attendance":2555688.0,"salary":21720000},{"year":1990,"team":"CHA","Wins":94,"Losses":68,"Championship":"N","attendance":2002357.0,"salary":9491500},{"year":1990,"team":"CHN","Wins":77,"Losses":85,"Championship":"N","attendance":2243791.0,"salary":13624000},{"year":1990,"team":"CIN","Wins":91,"Losses":71,"Championship":"Y","attendance":2400892.0,"salary":14370000},{"year":1990,"team":"CLE","Wins":77,"Losses":85,"Championship":"N","attendance":1225240.0,"salary":14487000},{"year":1990,"team":"DET","Wins":79,"Losses":83,"Championship":"N","attendance":1495785.0,"salary":17593238},{"year":1990,"team":"HOU","Wins":75,"Losses":87,"Championship":"N","attendance":1310927.0,"salary":18330000},{"year":1990,"team":"KCA","Wins":75,"Losses":86,"Championship":"N","attendance":2244956.0,"salary":23361084},{"year":1990,"team":"LAN","Wins":86,"Losses":76,"Championship":"N","attendance":3002396.0,"salary":21318704},{"year":1990,"team":"MIN","Wins":74,"Losses":88,"Championship":"N","attendance":1751584.0,"salary":14602000},{"year":1990,"team":"ML4","Wins":74,"Losses":88,"Championship":"N","attendance":1752900.0,"salary":19719167},{"year":1990,"team":"MON","Wins":85,"Losses":77,"Championship":"N","attendance":1373087.0,"salary":16586388},{"year":1990,"team":"NYA","Wins":67,"Losses":95,"Championship":"N","attendance":2006436.0,"salary":20912318},{"year":1990,"team":"NYN","Wins":91,"Losses":71,"Championship":"N","attendance":2732745.0,"salary":21722834},{"year":1990,"team":"OAK","Wins":103,"Losses":59,"Championship":"N","attendance":2900217.0,"salary":19887501},{"year":1990,"team":"PHI","Wins":77,"Losses":85,"Championship":"N","attendance":1992484.0,"salary":13173667},{"year":1990,"team":"PIT","Wins":95,"Losses":67,"Championship":"N","attendance":2049908.0,"salary":15556000},{"year":1990,"team":"SDN","Wins":75,"Losses":87,"Championship":"N","attendance":1856396.0,"salary":17588334},{"year":1990,"team":"SEA","Wins":77,"Losses":85,"Championship":"N","attendance":1509727.0,"salary":12553667},{"year":1990,"team":"SFN","Wins":85,"Losses":77,"Championship":"N","attendance":1975528.0,"salary":19335333},{"year":1990,"team":"SLN","Wins":70,"Losses":92,"Championship":"N","attendance":2573225.0,"salary":20523334},{"year":1990,"team":"TEX","Wins":83,"Losses":79,"Championship":"N","attendance":2057911.0,"salary":14874372},{"year":1990,"team":"TOR","Wins":86,"Losses":76,"Championship":"N","attendance":3885284.0,"salary":17756834},{"year":1991,"team":"ATL","Wins":94,"Losses":68,"Championship":"N","attendance":2140217.0,"salary":18403500},{"year":1991,"team":"BAL","Wins":67,"Losses":95,"Championship":"N","attendance":2552753.0,"salary":17519000},{"year":1991,"team":"BOS","Wins":84,"Losses":78,"Championship":"N","attendance":2562435.0,"salary":35167500},{"year":1991,"team":"CAL","Wins":81,"Losses":81,"Championship":"N","attendance":2416236.0,"salary":33060001},{"year":1991,"team":"CHA","Wins":87,"Losses":75,"Championship":"N","attendance":2934154.0,"salary":16919667},{"year":1991,"team":"CHN","Wins":77,"Losses":83,"Championship":"N","attendance":2314250.0,"salary":23175667},{"year":1991,"team":"CIN","Wins":74,"Losses":88,"Championship":"N","attendance":2372377.0,"salary":26305333},{"year":1991,"team":"CLE","Wins":57,"Losses":105,"Championship":"N","attendance":1051863.0,"salary":17635000},{"year":1991,"team":"DET","Wins":84,"Losses":78,"Championship":"N","attendance":1641661.0,"salary":23838333},{"year":1991,"team":"HOU","Wins":65,"Losses":97,"Championship":"N","attendance":1196152.0,"salary":12852500},{"year":1991,"team":"KCA","Wins":82,"Losses":80,"Championship":"N","attendance":2161537.0,"salary":26319834},{"year":1991,"team":"LAN","Wins":93,"Losses":69,"Championship":"N","attendance":3348170.0,"salary":32790664},{"year":1991,"team":"MIN","Wins":95,"Losses":67,"Championship":"Y","attendance":2293842.0,"salary":23361833},{"year":1991,"team":"ML4","Wins":83,"Losses":79,"Championship":"N","attendance":1478729.0,"salary":23115500},{"year":1991,"team":"MON","Wins":71,"Losses":90,"Championship":"N","attendance":934742.0,"salary":10732333},{"year":1991,"team":"NYA","Wins":71,"Losses":91,"Championship":"N","attendance":1863733.0,"salary":27344168},{"year":1991,"team":"NYN","Wins":77,"Losses":84,"Championship":"N","attendance":2284484.0,"salary":32590001},{"year":1991,"team":"OAK","Wins":84,"Losses":78,"Championship":"N","attendance":2713493.0,"salary":36999167},{"year":1991,"team":"PHI","Wins":78,"Losses":84,"Championship":"N","attendance":2050012.0,"salary":22487332},{"year":1991,"team":"PIT","Wins":98,"Losses":64,"Championship":"N","attendance":2065302.0,"salary":23634667},{"year":1991,"team":"SDN","Wins":84,"Losses":78,"Championship":"N","attendance":1804289.0,"salary":22150001},{"year":1991,"team":"SEA","Wins":83,"Losses":79,"Championship":"N","attendance":2147905.0,"salary":15691833},{"year":1991,"team":"SFN","Wins":75,"Losses":87,"Championship":"N","attendance":1737478.0,"salary":30967666},{"year":1991,"team":"SLN","Wins":84,"Losses":78,"Championship":"N","attendance":2448699.0,"salary":21860001},{"year":1991,"team":"TEX","Wins":85,"Losses":77,"Championship":"N","attendance":2297720.0,"salary":18224500},{"year":1991,"team":"TOR","Wins":91,"Losses":71,"Championship":"N","attendance":4001527.0,"salary":19902417},{"year":1992,"team":"ATL","Wins":98,"Losses":64,"Championship":"N","attendance":3077400.0,"salary":34625333},{"year":1992,"team":"BAL","Wins":89,"Losses":73,"Championship":"N","attendance":3567819.0,"sa