In [1]:
import pandas as pd
import numpy as np
import pymongo
import pprint

In [2]:
allstar_db = pd.read_csv("../data/AllstarFull.csv")

In [3]:
allstar_db = allstar_db[['yearID', 'teamID', 'playerID']]
allstar_db = allstar_db.rename(columns={'yearID':'year', 'teamID':'team'})

In [4]:
teams_db = pd.read_csv("../data/Teams.csv")

In [5]:
teams_db = teams_db[['yearID', 'teamID', 'W', 'L', 'WSWin', 'attendance']]
teams_db = teams_db.rename(columns={'yearID':'year', 'teamID':'team', 'W':'Wins', 'L':'Losses', 'WSWin': 'Championship'})

In [6]:
teams_db.tail()

      year team  Wins  Losses Championship  attendance
2800  2015  LAN    92      70            N   3764815.0
2801  2015  SFN    84      78            N   3375882.0
2802  2015  ARI    79      83            N   2080145.0
2803  2015  SDN    74      88            N   2459742.0
2804  2015  COL    68      94            N   2506789.0

In [7]:
salaries_db = pd.read_csv("../data/Salaries.csv")

In [8]:
salaries_db = salaries_db[['yearID', 'teamID', 'salary']]
salaries_db = salaries_db.rename(columns={'yearID': 'year', 'teamID':'team'})

In [9]:
before_1985 = teams_db['year']>=1985

In [10]:
teams_db = teams_db[before_1985]

In [11]:
allstar_1985 = allstar_db['year']>=1985
allstar_db = allstar_db[allstar_1985]

In [12]:
teams_db.head()

      year team  Wins  Losses Championship  attendance
1917  1985  ATL    66      96            N   1350137.0
1918  1985  BAL    83      78            N   2132387.0
1919  1985  BOS    81      81            N   1786633.0
1920  1985  CAL    90      72            N   2567427.0
1921  1985  CHA    85      77            N   1669888.0

In [13]:
allstar_db.head()

      year team   playerID
3023  1985  DET  morrija02
3024  1985  CHA   fiskca01
3025  1985  BAL  murraed02
3026  1985  DET  whitalo01
3027  1985  KCA  brettge01

In [14]:
salaries_db.head()

   year team  salary
0  1985  ATL  870000
1  1985  ATL  550000
2  1985  ATL  545000
3  1985  ATL  633333
4  1985  ATL  625000

In [15]:
team_salary_db = pd.merge(teams_db, salaries_db, on=['year','team'])
team_salary_db

       year team  Wins  Losses Championship  attendance    salary
0      1985  ATL    66      96            N   1350137.0    870000
1      1985  ATL    66      96            N   1350137.0    550000
2      1985  ATL    66      96            N   1350137.0    545000
3      1985  ATL    66      96            N   1350137.0    633333
4      1985  ATL    66      96            N   1350137.0    625000
5      1985  ATL    66      96            N   1350137.0    800000
6      1985  ATL    66      96            N   1350137.0    150000
7      1985  ATL    66      96            N   1350137.0    483333
8      1985  ATL    66      96            N   1350137.0    772000
9      1985  ATL    66      96            N   1350137.0    250000
10     1985  ATL    66      96            N   1350137.0   1500000
11     1985  ATL    66      96            N   1350137.0    455000
12     1985  ATL    66      96            N   1350137.0    407500
13     1985  ATL    66      96            N   1350137.0    275000
14     1985  ATL    66      96            N   1350137.0    775000
15     1985  ATL    66      96            N   1350137.0   1625000
16     1985  ATL    66      96            N   1350137.0    616667
17     1985  ATL    66      96            N   1350137.0    450000
18     1985  ATL    66      96            N   1350137.0    120000
19     1985  ATL    66      96            N   1350137.0    750000
20     1985  ATL    66      96            N   1350137.0   1354167
21     1985  ATL    66      96            N   1350137.0    800000
22     1985  BAL    83      78            N   2132387.0    625000
23     1985  BAL    83      78            N   2132387.0    480000
24     1985  BAL    83      78            N   2132387.0    437500
25     1985  BAL    83      78            N   2132387.0    512500
26     1985  BAL    83      78            N   2132387.0    375000
27     1985  BAL    83      78            N   2132387.0    641667
28     1985  BAL    83      78            N   2132387.0    450000
29     1985  BAL    83      78            N   2132387.0    483333
...     ...  ...   ...     ...          ...         ...       ...
25545  2015  SDN    74      88            N   2459742.0   1375000
25546  2015  SDN    74      88            N   2459742.0  14450000
25547  2015  SDN    74      88            N   2459742.0  14500000
25548  2015  SDN    74      88            N   2459742.0   4250000
25549  2015  SDN    74      88            N   2459742.0    525300
25550  2015  COL    68      94            N   2506789.0    512500
25551  2015  COL    68      94            N   2506789.0   2600000
25552  2015  COL    68      94            N   2506789.0   1000000
25553  2015  COL    68      94            N   2506789.0    517500
25554  2015  COL    68      94            N   2506789.0   1400000
25555  2015  COL    68      94            N   2506789.0    509500
25556  2015  COL    68      94            N   2506789.0    509500
25557  2015  COL    68      94            N   2506789.0   1500000
25558  2015  COL    68      94            N   2506789.0    512500
25559  2015  COL    68      94            N   2506789.0    512500
25560  2015  COL    68      94            N   2506789.0  16000000
25561  2015  COL    68      94            N   2506789.0   2250000
25562  2015  COL    68      94            N   2506789.0   3100000
25563  2015  COL    68      94            N   2506789.0   5500000
25564  2015  COL    68      94            N   2506789.0    517500
25565  2015  COL    68      94            N   2506789.0   5500000
25566  2015  COL    68      94            N   2506789.0   2475000
25567  2015  COL    68      94            N   2506789.0    509500
25568  2015  COL    68      94            N   2506789.0   1087600
25569  2015  COL    68      94            N   2506789.0   6750000
25570  2015  COL    68      94            N   2506789.0   1300000
25571  2015  COL    68      94            N   2506789.0  12500000
25572  2015  COL    68      94            N   2506789.0   2800000
25573  2015  COL    68      94            N   2506789.0   5825000
25574  2015  COL    68      94            N   2506789.0  20000000

[25575 rows x 7 columns]

In [16]:
#merge_db = pd.merge(team_salary_db, allstar_db, on =['year', 'team'])

In [17]:
#merge_db

In [18]:
#groupby_db = team_salary_db.groupby(['year', 'team', 'Wins', 'Losses', 'Championship'])
#groupby_db = groupby_db['salary'].sum()
#groupby_db.head()
#team_salary_db['Total Salary'] = team_salary_db['salary'].groupby(team_salary_db['year', 'team']).transform('sum')
#df['Data4'] = df['Data3'].groupby(df['Date']).transform('sum')
#team_salary_db.head()
team_salary_db=team_salary_db.groupby(['year', 'team', 'Wins', 'Losses', 'Championship', 'attendance'], as_index = False).salary.sum()
team_salary_db

     year team  Wins  Losses Championship  attendance     salary
0    1985  ATL    66      96            N   1350137.0   14807000
1    1985  BAL    83      78            N   2132387.0   11560712
2    1985  BOS    81      81            N   1786633.0   10897560
3    1985  CAL    90      72            N   2567427.0   14427894
4    1985  CHA    85      77            N   1669888.0    9846178
5    1985  CHN    77      84            N   2161534.0   12702917
6    1985  CIN    89      72            N   1834619.0    8359917
7    1985  CLE    60     102            N    655181.0    6551666
8    1985  DET    84      77            N   2286609.0   10348143
9    1985  HOU    83      79            N   1184314.0    9993051
10   1985  KCA    91      71            Y   2162717.0    9321179
11   1985  LAN    95      67            N   3264593.0   10967917
12   1985  MIN    77      85            N   1651814.0    5764821
13   1985  ML4    71      90            N   1360265.0   11284107
14   1985  MON    84      77            N   1502494.0    9470166
15   1985  NYA    97      64            N   2214587.0   14238204
16   1985  NYN    98      64            N   2761601.0   10834762
17   1985  OAK    77      85            N   1334599.0    9058606
18   1985  PHI    75      87            N   1830350.0   10124966
19   1985  PIT    57     104            N    735900.0    9227500
20   1985  SDN    83      79            N   2210352.0   11036583
21   1985  SEA    74      88            N   1128696.0    4613000
22   1985  SFN    62     100            N    818697.0    8221714
23   1985  SLN   101      61            N   2637563.0   11817083
24   1985  TEX    62      99            N   1112497.0    7676500
25   1985  TOR    99      62            N   2468925.0    8812550
26   1986  ATL    72      89            N   1387181.0   17102786
27   1986  BAL    73      89            N   1973176.0   13001258
28   1986  BOS    95      66            N   2147641.0   14402239
29   1986  CAL    92      70            N   2655872.0   14427258
..    ...  ...   ...     ...          ...         ...        ...
830  2015  ARI    79      83            N   2080145.0   61834000
831  2015  ATL    67      95            N   2001392.0   71781250
832  2015  BAL    81      81            N   2281202.0  115044833
833  2015  BOS    78      84            N   2880694.0  181103400
834  2015  CHA    76      86            N   1755810.0  112373700
835  2015  CHN    97      65            N   2959812.0  115879310
836  2015  CIN    64      98            N   2419506.0  113072286
837  2015  CLE    81      80            N   1388905.0   87663766
838  2015  COL    68      94            N   2506789.0   95688600
839  2015  DET    74      87            N   2726048.0  172284750
840  2015  HOU    86      76            N   2153585.0   72256200
841  2015  KCA    95      67            Y   2708549.0  112107025
842  2015  LAA    85      77            N   3012765.0  120005415
843  2015  LAN    92      70            N   3764815.0  215792000
844  2015  MIA    71      91            N   1752235.0   68056500
845  2015  MIL    68      94            N   2542558.0  100850000
846  2015  MIN    83      79            N   2220054.0  107755000
847  2015  NYA    87      75            N   3193795.0  212751957
848  2015  NYN    90      72            N   2569753.0   96766683
849  2015  OAK    68      94            N   1768175.0   79053501
850  2015  PHI    63      99            N   1831080.0  111693000
851  2015  PIT    98      64            N   2498596.0   88892499
852  2015  SDN    74      88            N   2459742.0  118441300
853  2015  SEA    76      86            N   2193581.0  122208700
854  2015  SFN    84      78            N   3375882.0  164701500
855  2015  SLN   100      62            N   3520889.0  119241500
856  2015  TBA    80      82            N   1287054.0   64521233
857  2015  TEX    88      74            N   2491875.0  143742789
858  2015  TOR    93      69            N   2794891.0  112992400
859  2015  WAS    83      79            N   2619843.0  155587472

[860 rows x 7 columns]

In [19]:
team_json = team_salary_db.to_json(orient='records')

In [20]:
pprint.pprint(team_json)

'[{"year":1985,"team":"ATL","Wins":66,"Losses":96,"Championship":"N","attendance":1350137.0,"salary":14807000},{"year":1985,"team":"BAL","Wins":83,"Losses":78,"Championship":"N","attendance":2132387.0,"salary":11560712},{"year":1985,"team":"BOS","Wins":81,"Losses":81,"Championship":"N","attendance":1786633.0,"salary":10897560},{"year":1985,"team":"CAL","Wins":90,"Losses":72,"Championship":"N","attendance":2567427.0,"salary":14427894},{"year":1985,"team":"CHA","Wins":85,"Losses":77,"Championship":"N","attendance":1669888.0,"salary":9846178},{"year":1985,"team":"CHN","Wins":77,"Losses":84,"Championship":"N","attendance":2161534.0,"salary":12702917},{"year":1985,"team":"CIN","Wins":89,"Losses":72,"Championship":"N","attendance":1834619.0,"salary":8359917},{"year":1985,"team":"CLE","Wins":60,"Losses":102,"Championship":"N","attendance":655181.0,"salary":6551666},{"year":1985,"team":"DET","Wins":84,"Losses":77,"Championship":"N","attendance":2286609.0,"salary":10348143},{"year":1985,"team":"HOU","Wins":83,"Losses":79,"Championship":"N","attendance":1184314.0,"salary":9993051},{"year":1985,"team":"KCA","Wins":91,"Losses":71,"Championship":"Y","attendance":2162717.0,"salary":9321179},{"year":1985,"team":"LAN","Wins":95,"Losses":67,"Championship":"N","attendance":3264593.0,"salary":10967917},{"year":1985,"team":"MIN","Wins":77,"Losses":85,"Championship":"N","attendance":1651814.0,"salary":5764821},{"year":1985,"team":"ML4","Wins":71,"Losses":90,"Championship":"N","attendance":1360265.0,"salary":11284107},{"year":1985,"team":"MON","Wins":84,"Losses":77,"Championship":"N","attendance":1502494.0,"salary":9470166},{"year":1985,"team":"NYA","Wins":97,"Losses":64,"Championship":"N","attendance":2214587.0,"salary":14238204},{"year":1985,"team":"NYN","Wins":98,"Losses":64,"Championship":"N","attendance":2761601.0,"salary":10834762},{"year":1985,"team":"OAK","Wins":77,"Losses":85,"Championship":"N","attendance":1334599.0,"salary":9058606},{"year":1985,"team":"PHI","Wins":75,"Losses":87,"Championship":"N","attendance":1830350.0,"salary":10124966},{"year":1985,"team":"PIT","Wins":57,"Losses":104,"Championship":"N","attendance":735900.0,"salary":9227500},{"year":1985,"team":"SDN","Wins":83,"Losses":79,"Championship":"N","attendance":2210352.0,"salary":11036583},{"year":1985,"team":"SEA","Wins":74,"Losses":88,"Championship":"N","attendance":1128696.0,"salary":4613000},{"year":1985,"team":"SFN","Wins":62,"Losses":100,"Championship":"N","attendance":818697.0,"salary":8221714},{"year":1985,"team":"SLN","Wins":101,"Losses":61,"Championship":"N","attendance":2637563.0,"salary":11817083},{"year":1985,"team":"TEX","Wins":62,"Losses":99,"Championship":"N","attendance":1112497.0,"salary":7676500},{"year":1985,"team":"TOR","Wins":99,"Losses":62,"Championship":"N","attendance":2468925.0,"salary":8812550},{"year":1986,"team":"ATL","Wins":72,"Losses":89,"Championship":"N","attendance":1387181.0,"salary":17102786},{"year":1986,"team":"BAL","Wins":73,"Losses":89,"Championship":"N","attendance":1973176.0,"salary":13001258},{"year":1986,"team":"BOS","Wins":95,"Losses":66,"Championship":"N","attendance":2147641.0,"salary":14402239},{"year":1986,"team":"CAL","Wins":92,"Losses":70,"Championship":"N","attendance":2655872.0,"salary":14427258},{"year":1986,"team":"CHA","Wins":72,"Losses":90,"Championship":"N","attendance":1424313.0,"salary":10418819},{"year":1986,"team":"CHN","Wins":70,"Losses":90,"Championship":"N","attendance":1859102.0,"salary":17208165},{"year":1986,"team":"CIN","Wins":86,"Losses":76,"Championship":"N","attendance":1692432.0,"salary":11906388},{"year":1986,"team":"CLE","Wins":84,"Losses":78,"Championship":"N","attendance":1471805.0,"salary":7809500},{"year":1986,"team":"DET","Wins":87,"Losses":75,"Championship":"N","attendance":1899437.0,"salary":12335714},{"year":1986,"team":"HOU","Wins":96,"Losses":66,"Championship":"N","attendance":1734276.0,"salary":9873276},{"year":1986,"team":"KCA","Wins":76,"Losses":86,"Championship":"N","attendance":2320794.0,"salary":13043698},{"year":1986,"team":"LAN","Wins":73,"Losses":89,"Championship":"N","attendance":3023208.0,"salary":14913776},{"year":1986,"team":"MIN","Wins":71,"Losses":91,"Championship":"N","attendance":1255453.0,"salary":8748167},{"year":1986,"team":"ML4","Wins":77,"Losses":84,"Championship":"N","attendance":1265041.0,"salary":9943642},{"year":1986,"team":"MON","Wins":78,"Losses":83,"Championship":"N","attendance":1128981.0,"salary":11103600},{"year":1986,"team":"NYA","Wins":90,"Losses":72,"Championship":"N","attendance":2268030.0,"salary":18494253},{"year":1986,"team":"NYN","Wins":108,"Losses":54,"Championship":"Y","attendance":2767601.0,"salary":15393714},{"year":1986,"team":"OAK","Wins":76,"Losses":86,"Championship":"N","attendance":1314646.0,"salary":9779421},{"year":1986,"team":"PHI","Wins":86,"Losses":75,"Championship":"N","attendance":1933335.0,"salary":11590166},{"year":1986,"team":"PIT","Wins":64,"Losses":98,"Championship":"N","attendance":1000917.0,"salary":10843500},{"year":1986,"team":"SDN","Wins":74,"Losses":88,"Championship":"N","attendance":1805716.0,"salary":11380693},{"year":1986,"team":"SEA","Wins":67,"Losses":95,"Championship":"N","attendance":1029045.0,"salary":5958309},{"year":1986,"team":"SFN","Wins":83,"Losses":79,"Championship":"N","attendance":1528748.0,"salary":8947000},{"year":1986,"team":"SLN","Wins":79,"Losses":82,"Championship":"N","attendance":2471974.0,"salary":9875010},{"year":1986,"team":"TEX","Wins":87,"Losses":75,"Championship":"N","attendance":1692002.0,"salary":6743119},{"year":1986,"team":"TOR","Wins":86,"Losses":76,"Championship":"N","attendance":2455477.0,"salary":12611047},{"year":1987,"team":"ATL","Wins":69,"Losses":92,"Championship":"N","attendance":1217402.0,"salary":16544560},{"year":1987,"team":"BAL","Wins":67,"Losses":95,"Championship":"N","attendance":1835692.0,"salary":13900273},{"year":1987,"team":"BOS","Wins":78,"Losses":84,"Championship":"N","attendance":2231551.0,"salary":10144167},{"year":1987,"team":"CAL","Wins":75,"Losses":87,"Championship":"N","attendance":2696299.0,"salary":12843499},{"year":1987,"team":"CHA","Wins":77,"Losses":85,"Championship":"N","attendance":1208060.0,"salary":10641843},{"year":1987,"team":"CHN","Wins":76,"Losses":85,"Championship":"N","attendance":2035130.0,"salary":14307999},{"year":1987,"team":"CIN","Wins":84,"Losses":78,"Championship":"N","attendance":2185205.0,"salary":9281500},{"year":1987,"team":"CLE","Wins":61,"Losses":101,"Championship":"N","attendance":1077898.0,"salary":8513750},{"year":1987,"team":"DET","Wins":98,"Losses":64,"Championship":"N","attendance":2061830.0,"salary":12122881},{"year":1987,"team":"HOU","Wins":76,"Losses":86,"Championship":"N","attendance":1909902.0,"salary":12608371},{"year":1987,"team":"KCA","Wins":83,"Losses":79,"Championship":"N","attendance":2392471.0,"salary":11828056},{"year":1987,"team":"LAN","Wins":73,"Losses":89,"Championship":"N","attendance":2797409.0,"salary":13675403},{"year":1987,"team":"MIN","Wins":85,"Losses":77,"Championship":"Y","attendance":2081976.0,"salary":6397500},{"year":1987,"team":"ML4","Wins":91,"Losses":71,"Championship":"N","attendance":1909244.0,"salary":7293224},{"year":1987,"team":"MON","Wins":91,"Losses":71,"Championship":"N","attendance":1850324.0,"salary":6942052},{"year":1987,"team":"NYA","Wins":89,"Losses":73,"Championship":"N","attendance":2427672.0,"salary":17099714},{"year":1987,"team":"NYN","Wins":92,"Losses":70,"Championship":"N","attendance":3034129.0,"salary":13846714},{"year":1987,"team":"OAK","Wins":81,"Losses":81,"Championship":"N","attendance":1678921.0,"salary":11680839},{"year":1987,"team":"PHI","Wins":80,"Losses":82,"Championship":"N","attendance":2100110.0,"salary":11514233},{"year":1987,"team":"PIT","Wins":80,"Losses":82,"Championship":"N","attendance":1161193.0,"salary":7652000},{"year":1987,"team":"SDN","Wins":65,"Losses":97,"Championship":"N","attendance":1454061.0,"salary":11065796},{"year":1987,"team":"SEA","Wins":78,"Losses":84,"Championship":"N","attendance":1134255.0,"salary":2263500},{"year":1987,"team":"SFN","Wins":90,"Losses":72,"Championship":"N","attendance":1917168.0,"salary":7290000},{"year":1987,"team":"SLN","Wins":95,"Losses":67,"Championship":"N","attendance":3072122.0,"salary":11758000},{"year":1987,"team":"TEX","Wins":75,"Losses":87,"Championship":"N","attendance":1763053.0,"salary":880000},{"year":1987,"team":"TOR","Wins":96,"Losses":66,"Championship":"N","attendance":2778429.0,"salary":10479501},{"year":1988,"team":"ATL","Wins":54,"Losses":106,"Championship":"N","attendance":848089.0,"salary":12728174},{"year":1988,"team":"BAL","Wins":54,"Losses":107,"Championship":"N","attendance":1660738.0,"salary":13532075},{"year":1988,"team":"BOS","Wins":89,"Losses":73,"Championship":"N","attendance":2464851.0,"salary":13896092},{"year":1988,"team":"CAL","Wins":75,"Losses":87,"Championship":"N","attendance":2340925.0,"salary":11947388},{"year":1988,"team":"CHA","Wins":71,"Losses":90,"Championship":"N","attendance":1115749.0,"salary":6390000},{"year":1988,"team":"CHN","Wins":77,"Losses":85,"Championship":"N","attendance":2089034.0,"salary":13119198},{"year":1988,"team":"CIN","Wins":87,"Losses":74,"Championship":"N","attendance":2072528.0,"salary":8888409},{"year":1988,"team":"CLE","Wins":78,"Losses":84,"Championship":"N","attendance":1411610.0,"salary":8936500},{"year":1988,"team":"DET","Wins":88,"Losses":74,"Championship":"N","attendance":2081162.0,"salary":12869571},{"year":1988,"team":"HOU","Wins":82,"Losses":80,"Championship":"N","attendance":1933505.0,"salary":12286167},{"year":1988,"team":"KCA","Wins":84,"Losses":77,"Championship":"N","attendance":2350181.0,"salary":14556562},{"year":1988,"team":"LAN","Wins":94,"Losses":67,"Championship":"Y","attendance":2980262.0,"salary":16850515},{"year":1988,"team":"MIN","Wins":91,"Losses":71,"Championship":"N","attendance":3030672.0,"salary":12462666},{"year":1988,"team":"ML4","Wins":87,"Losses":75,"Championship":"N","attendance":1923238.0,"salary":8402000},{"year":1988,"team":"MON","Wins":81,"Losses":81,"Championship":"N","attendance":1478659.0,"salary":9603333},{"year":1988,"team":"NYA","Wins":85,"Losses":76,"Championship":"N","attendance":2633701.0,"salary":19441152},{"year":1988,"team":"NYN","Wins":100,"Losses":60,"Championship":"N","attendance":3055445.0,"salary":15269314},{"year":1988,"team":"OAK","Wins":104,"Losses":58,"Championship":"N","attendance":2287335.0,"salary":9690000},{"year":1988,"team":"PHI","Wins":65,"Losses":96,"Championship":"N","attendance":1990041.0,"salary":13838000},{"year":1988,"team":"PIT","Wins":85,"Losses":75,"Championship":"N","attendance":1866713.0,"salary":5998500},{"year":1988,"team":"SDN","Wins":83,"Losses":78,"Championship":"N","attendance":1506896.0,"salary":9561002},{"year":1988,"team":"SEA","Wins":68,"Losses":93,"Championship":"N","attendance":1022398.0,"salary":7342450},{"year":1988,"team":"SFN","Wins":83,"Losses":79,"Championship":"N","attendance":1785297.0,"salary":12380000},{"year":1988,"team":"SLN","Wins":76,"Losses":86,"Championship":"N","attendance":2892799.0,"salary":12880000},{"year":1988,"team":"TEX","Wins":70,"Losses":91,"Championship":"N","attendance":1581901.0,"salary":5342131},{"year":1988,"team":"TOR","Wins":87,"Losses":75,"Championship":"N","attendance":2595175.0,"salary":12241225},{"year":1989,"team":"ATL","Wins":63,"Losses":97,"Championship":"N","attendance":984930.0,"salary":11112334},{"year":1989,"team":"BAL","Wins":87,"Losses":75,"Championship":"N","attendance":2535208.0,"salary":8275167},{"year":1989,"team":"BOS","Wins":83,"Losses":79,"Championship":"N","attendance":2510012.0,"salary":17481748},{"year":1989,"team":"CAL","Wins":91,"Losses":71,"Championship":"N","attendance":2647291.0,"salary":15097833},{"year":1989,"team":"CHA","Wins":69,"Losses":92,"Championship":"N","attendance":1045651.0,"salary":7265410},{"year":1989,"team":"CHN","Wins":93,"Losses":69,"Championship":"N","attendance":2491942.0,"salary":10668000},{"year":1989,"team":"CIN","Wins":75,"Losses":87,"Championship":"N","attendance":1979320.0,"salary":11072000},{"year":1989,"team":"CLE","Wins":73,"Losses":89,"Championship":"N","attendance":1285542.0,"salary":9094500},{"year":1989,"team":"DET","Wins":59,"Losses":103,"Championship":"N","attendance":1543656.0,"salary":15146404},{"year":1989,"team":"HOU","Wins":86,"Losses":76,"Championship":"N","attendance":1834908.0,"salary":15029500},{"year":1989,"team":"KCA","Wins":92,"Losses":70,"Championship":"N","attendance":2477700.0,"salary":18683568},{"year":1989,"team":"LAN","Wins":77,"Losses":83,"Championship":"N","attendance":2944653.0,"salary":21071562},{"year":1989,"team":"MIN","Wins":80,"Losses":82,"Championship":"N","attendance":2277438.0,"salary":15531666},{"year":1989,"team":"ML4","Wins":81,"Losses":81,"Championship":"N","attendance":1970735.0,"salary":11533000},{"year":1989,"team":"MON","Wins":81,"Losses":81,"Championship":"N","attendance":1783533.0,"salary":13807389},{"year":1989,"team":"NYA","Wins":74,"Losses":87,"Championship":"N","attendance":2170485.0,"salary":17114375},{"year":1989,"team":"NYN","Wins":87,"Losses":75,"Championship":"N","attendance":2918710.0,"salary":19885071},{"year":1989,"team":"OAK","Wins":99,"Losses":63,"Championship":"Y","attendance":2667225.0,"salary":15613070},{"year":1989,"team":"PHI","Wins":67,"Losses":95,"Championship":"N","attendance":1861985.0,"salary":10604000},{"year":1989,"team":"PIT","Wins":74,"Losses":88,"Championship":"N","attendance":1374141.0,"salary":12737500},{"year":1989,"team":"SDN","Wins":89,"Losses":73,"Championship":"N","attendance":2009031.0,"salary":14195000},{"year":1989,"team":"SEA","Wins":73,"Losses":89,"Championship":"N","attendance":1298443.0,"salary":9779500},{"year":1989,"team":"SFN","Wins":92,"Losses":70,"Championship":"N","attendance":2059701.0,"salary":14962834},{"year":1989,"team":"SLN","Wins":86,"Losses":76,"Championship":"N","attendance":3080980.0,"salary":16078833},{"year":1989,"team":"TEX","Wins":83,"Losses":79,"Championship":"N","attendance":2043993.0,"salary":11893781},{"year":1989,"team":"TOR","Wins":89,"Losses":73,"Championship":"N","attendance":3375883.0,"salary":16261666},{"year":1990,"team":"ATL","Wins":65,"Losses":97,"Championship":"N","attendance":980129.0,"salary":14555501},{"year":1990,"team":"BAL","Wins":76,"Losses":85,"Championship":"N","attendance":2415189.0,"salary":9680084},{"year":1990,"team":"BOS","Wins":88,"Losses":74,"Championship":"N","attendance":2528986.0,"salary":20558333},{"year":1990,"team":"CAL","Wins":80,"Losses":82,"Championship":"N","attendance":2555688.0,"salary":21720000},{"year":1990,"team":"CHA","Wins":94,"Losses":68,"Championship":"N","attendance":2002357.0,"salary":9491500},{"year":1990,"team":"CHN","Wins":77,"Losses":85,"Championship":"N","attendance":2243791.0,"salary":13624000},{"year":1990,"team":"CIN","Wins":91,"Losses":71,"Championship":"Y","attendance":2400892.0,"salary":14370000},{"year":1990,"team":"CLE","Wins":77,"Losses":85,"Championship":"N","attendance":1225240.0,"salary":14487000},{"year":1990,"team":"DET","Wins":79,"Losses":83,"Championship":"N","attendance":1495785.0,"salary":17593238},{"year":1990,"team":"HOU","Wins":75,"Losses":87,"Championship":"N","attendance":1310927.0,"salary":18330000},{"year":1990,"team":"KCA","Wins":75,"Losses":86,"Championship":"N","attendance":2244956.0,"salary":23361084},{"year":1990,"team":"LAN","Wins":86,"Losses":76,"Championship":"N","attendance":3002396.0,"salary":21318704},{"year":1990,"team":"MIN","Wins":74,"Losses":88,"Championship":"N","attendance":1751584.0,"salary":14602000},{"year":1990,"team":"ML4","Wins":74,"Losses":88,"Championship":"N","attendance":1752900.0,"salary":19719167},{"year":1990,"team":"MON","Wins":85,"Losses":77,"Championship":"N","attendance":1373087.0,"salary":16586388},{"year":1990,"team":"NYA","Wins":67,"Losses":95,"Championship":"N","attendance":2006436.0,"salary":20912318},{"year":1990,"team":"NYN","Wins":91,"Losses":71,"Championship":"N","attendance":2732745.0,"salary":21722834},{"year":1990,"team":"OAK","Wins":103,"Losses":59,"Championship":"N","attendance":2900217.0,"salary":19887501},{"year":1990,"team":"PHI","Wins":77,"Losses":85,"Championship":"N","attendance":1992484.0,"salary":13173667},{"year":1990,"team":"PIT","Wins":95,"Losses":67,"Championship":"N","attendance":2049908.0,"salary":15556000},{"year":1990,"team":"SDN","Wins":75,"Losses":87,"Championship":"N","attendance":1856396.0,"salary":17588334},{"year":1990,"team":"SEA","Wins":77,"Losses":85,"Championship":"N","attendance":1509727.0,"salary":12553667},{"year":1990,"team":"SFN","Wins":85,"Losses":77,"Championship":"N","attendance":1975528.0,"salary":19335333},{"year":1990,"team":"SLN","Wins":70,"Losses":92,"Championship":"N","attendance":2573225.0,"salary":20523334},{"year":1990,"team":"TEX","Wins":83,"Losses":79,"Championship":"N","attendance":2057911.0,"salary":14874372},{"year":1990,"team":"TOR","Wins":86,"Losses":76,"Championship":"N","attendance":3885284.0,"salary":17756834},{"year":1991,"team":"ATL","Wins":94,"Losses":68,"Championship":"N","attendance":2140217.0,"salary":18403500},{"year":1991,"team":"BAL","Wins":67,"Losses":95,"Championship":"N","attendance":2552753.0,"salary":17519000},{"year":1991,"team":"BOS","Wins":84,"Losses":78,"Championship":"N","attendance":2562435.0,"salary":35167500},{"year":1991,"team":"CAL","Wins":81,"Losses":81,"Championship":"N","attendance":2416236.0,"salary":33060001},{"year":1991,"team":"CHA","Wins":87,"Losses":75,"Championship":"N","attendance":2934154.0,"salary":16919667},{"year":1991,"team":"CHN","Wins":77,"Losses":83,"Championship":"N","attendance":2314250.0,"salary":23175667},{"year":1991,"team":"CIN","Wins":74,"Losses":88,"Championship":"N","attendance":2372377.0,"salary":26305333},{"year":1991,"team":"CLE","Wins":57,"Losses":105,"Championship":"N","attendance":1051863.0,"salary":17635000},{"year":1991,"team":"DET","Wins":84,"Losses":78,"Championship":"N","attendance":1641661.0,"salary":23838333},{"year":1991,"team":"HOU","Wins":65,"Losses":97,"Championship":"N","attendance":1196152.0,"salary":12852500},{"year":1991,"team":"KCA","Wins":82,"Losses":80,"Championship":"N","attendance":2161537.0,"salary":26319834},{"year":1991,"team":"LAN","Wins":93,"Losses":69,"Championship":"N","attendance":3348170.0,"salary":32790664},{"year":1991,"team":"MIN","Wins":95,"Losses":67,"Championship":"Y","attendance":2293842.0,"salary":23361833},{"year":1991,"team":"ML4","Wins":83,"Losses":79,"Championship":"N","attendance":1478729.0,"salary":23115500},{"year":1991,"team":"MON","Wins":71,"Losses":90,"Championship":"N","attendance":934742.0,"salary":10732333},{"year":1991,"team":"NYA","Wins":71,"Losses":91,"Championship":"N","attendance":1863733.0,"salary":27344168},{"year":1991,"team":"NYN","Wins":77,"Losses":84,"Championship":"N","attendance":2284484.0,"salary":32590001},{"year":1991,"team":"OAK","Wins":84,"Losses":78,"Championship":"N","attendance":2713493.0,"salary":36999167},{"year":1991,"team":"PHI","Wins":78,"Losses":84,"Championship":"N","attendance":2050012.0,"salary":22487332},{"year":1991,"team":"PIT","Wins":98,"Losses":64,"Championship":"N","attendance":2065302.0,"salary":23634667},{"year":1991,"team":"SDN","Wins":84,"Losses":78,"Championship":"N","attendance":1804289.0,"salary":22150001},{"year":1991,"team":"SEA","Wins":83,"Losses":79,"Championship":"N","attendance":2147905.0,"salary":15691833},{"year":1991,"team":"SFN","Wins":75,"Losses":87,"Championship":"N","attendance":1737478.0,"salary":30967666},{"year":1991,"team":"SLN","Wins":84,"Losses":78,"Championship":"N","attendance":2448699.0,"salary":21860001},{"year":1991,"team":"TEX","Wins":85,"Losses":77,"Championship":"N","attendance":2297720.0,"salary":18224500},{"year":1991,"team":"TOR","Wins":91,"Losses":71,"Championship":"N","attendance":4001527.0,"salary":19902417},{"year":1992,"team":"ATL","Wins":98,"Losses":64,"Championship":"N","attendance":3077400.0,"salary":34625333},{"year":1992,"team":"BAL","Wins":89,"Losses":73,"Championship":"N","attendance":3567819.0,"sa

In [21]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [22]:
baseball_db = client['baseball_db']

In [23]:
stats = baseball_db['stats']

In [24]:
team_salary_list = team_salary_db.values.tolist()
team_salary_list

[[1985, 'ATL', 66, 96, 'N', 1350137.0, 14807000],
 [1985, 'BAL', 83, 78, 'N', 2132387.0, 11560712],
 [1985, 'BOS', 81, 81, 'N', 1786633.0, 10897560],
 [1985, 'CAL', 90, 72, 'N', 2567427.0, 14427894],
 [1985, 'CHA', 85, 77, 'N', 1669888.0, 9846178],
 [1985, 'CHN', 77, 84, 'N', 2161534.0, 12702917],
 [1985, 'CIN', 89, 72, 'N', 1834619.0, 8359917],
 [1985, 'CLE', 60, 102, 'N', 655181.0, 6551666],
 [1985, 'DET', 84, 77, 'N', 2286609.0, 10348143],
 [1985, 'HOU', 83, 79, 'N', 1184314.0, 9993051],
 [1985, 'KCA', 91, 71, 'Y', 2162717.0, 9321179],
 [1985, 'LAN', 95, 67, 'N', 3264593.0, 10967917],
 [1985, 'MIN', 77, 85, 'N', 1651814.0, 5764821],
 [1985, 'ML4', 71, 90, 'N', 1360265.0, 11284107],
 [1985, 'MON', 84, 77, 'N', 1502494.0, 9470166],
 [1985, 'NYA', 97, 64, 'N', 2214587.0, 14238204],
 [1985, 'NYN', 98, 64, 'N', 2761601.0, 10834762],
 [1985, 'OAK', 77, 85, 'N', 1334599.0, 9058606],
 [1985, 'PHI', 75, 87, 'N', 1830350.0, 10124966],
 [1985, 'PIT', 57, 104, 'N', 735900.0, 9227500],
 [1985, 'SDN', 83, 79, 'N', 2210352.0, 11036583],
 [1985, 'SEA', 74, 88, 'N', 1128696.0, 4613000],
 [1985, 'SFN', 62, 100, 'N', 818697.0, 8221714],
 [1985, 'SLN', 101, 61, 'N', 2637563.0, 11817083],
 [1985, 'TEX', 62, 99, 'N', 1112497.0, 7676500],
 [1985, 'TOR', 99, 62, 'N', 2468925.0, 8812550],
 [1986, 'ATL', 72, 89, 'N', 1387181.0, 17102786],
 [1986, 'BAL', 73, 89, 'N', 1973176.0, 13001258],
 [1986, 'BOS', 95, 66, 'N', 2147641.0, 14402239],
 [1986, 'CAL', 92, 70, 'N', 2655872.0, 14427258],
 [1986, 'CHA', 72, 90, 'N', 1424313.0, 10418819],
 [1986, 'CHN', 70, 90, 'N', 1859102.0, 17208165],
 [1986, 'CIN', 86, 76, 'N', 1692432.0, 11906388],
 [1986, 'CLE', 84, 78, 'N', 1471805.0, 7809500],
 [1986, 'DET', 87, 75, 'N', 1899437.0, 12335714],
 [1986, 'HOU', 96, 66, 'N', 1734276.0, 9873276],
 [1986, 'KCA', 76, 86, 'N', 2320794.0, 13043698],
 [1986, 'LAN', 73, 89, 'N', 3023208.0, 14913776],
 [1986, 'MIN', 71, 91, 'N', 1255453.0, 8748167],
 [1986, 'ML4', 77, 84, 'N', 1265041.0, 9943642],
 [1986, 'MON', 78, 83, 'N', 1128981.0, 11103600],
 [1986, 'NYA', 90, 72, 'N', 2268030.0, 18494253],
 [1986, 'NYN', 108, 54, 'Y', 2767601.0, 15393714],
 [1986, 'OAK', 76, 86, 'N', 1314646.0, 9779421],
 [1986, 'PHI', 86, 75, 'N', 1933335.0, 11590166],
 [1986, 'PIT', 64, 98, 'N', 1000917.0, 10843500],
 [1986, 'SDN', 74, 88, 'N', 1805716.0, 11380693],
 [1986, 'SEA', 67, 95, 'N', 1029045.0, 5958309],
 [1986, 'SFN', 83, 79, 'N', 1528748.0, 8947000],
 [1986, 'SLN', 79, 82, 'N', 2471974.0, 9875010],
 [1986, 'TEX', 87, 75, 'N', 1692002.0, 6743119],
 [1986, 'TOR', 86, 76, 'N', 2455477.0, 12611047],
 [1987, 'ATL', 69, 92, 'N', 1217402.0, 16544560],
 [1987, 'BAL', 67, 95, 'N', 1835692.0, 13900273],
 [1987, 'BOS', 78, 84, 'N', 2231551.0, 10144167],
 [1987, 'CAL', 75, 87, 'N', 2696299.0, 12843499],
 [1987, 'CHA', 77, 85, 'N', 1208060.0, 10641843],
 [1987, 'CHN', 76, 85, 'N', 2035130.0, 14307999],
 [1987, 'CIN', 84, 78, 'N', 2185205.0, 9281500],
 [1987, 'CLE', 61, 101, 'N', 1077898.0, 8513750],
 [1987, 'DET', 98, 64, 'N', 2061830.0, 12122881],
 [1987, 'HOU', 76, 86, 'N', 1909902.0, 12608371],
 [1987, 'KCA', 83, 79, 'N', 2392471.0, 11828056],
 [1987, 'LAN', 73, 89, 'N', 2797409.0, 13675403],
 [1987, 'MIN', 85, 77, 'Y', 2081976.0, 6397500],
 [1987, 'ML4', 91, 71, 'N', 1909244.0, 7293224],
 [1987, 'MON', 91, 71, 'N', 1850324.0, 6942052],
 [1987, 'NYA', 89, 73, 'N', 2427672.0, 17099714],
 [1987, 'NYN', 92, 70, 'N', 3034129.0, 13846714],
 [1987, 'OAK', 81, 81, 'N', 1678921.0, 11680839],
 [1987, 'PHI', 80, 82, 'N', 2100110.0, 11514233],
 [1987, 'PIT', 80, 82, 'N', 1161193.0, 7652000],
 [1987, 'SDN', 65, 97, 'N', 1454061.0, 11065796],
 [1987, 'SEA', 78, 84, 'N', 1134255.0, 2263500],
 [1987, 'SFN', 90, 72, 'N', 1917168.0, 7290000],
 [1987, 'SLN', 95, 67, 'N', 3072122.0, 11758000],
 [1987, 'TEX', 75, 87, 'N', 1763053.0, 880000],
 [1987, 'TOR', 96, 66, 'N', 2778429.0, 10479501],
 [1988, 'ATL', 54, 106, 'N', 848089.0, 12728174],
 [1988, 'BAL', 54, 107, 'N', 1660738.0, 13532075],
 [1988, 'BOS', 89, 73, 'N', 2464851.0, 13896092],
 [1988, 'CAL', 75, 87, 'N', 2340925.0, 11947388],
 [1988, 'CHA', 71, 90, 'N', 1115749.0, 6390000],
 [1988, 'CHN', 77, 85, 'N', 2089034.0, 13119198],
 [1988, 'CIN', 87, 74, 'N', 2072528.0, 8888409],
 [1988, 'CLE', 78, 84, 'N', 1411610.0, 8936500],
 [1988, 'DET', 88, 74, 'N', 2081162.0, 12869571],
 [1988, 'HOU', 82, 80, 'N', 1933505.0, 12286167],
 [1988, 'KCA', 84, 77, 'N', 2350181.0, 14556562],
 [1988, 'LAN', 94, 67, 'Y', 2980262.0, 16850515],
 [1988, 'MIN', 91, 71, 'N', 3030672.0, 12462666],
 [1988, 'ML4', 87, 75, 'N', 1923238.0, 8402000],
 [1988, 'MON', 81, 81, 'N', 1478659.0, 9603333],
 [1988, 'NYA', 85, 76, 'N', 2633701.0, 19441152],
 [1988, 'NYN', 100, 60, 'N', 3055445.0, 15269314],
 [1988, 'OAK', 104, 58, 'N', 2287335.0, 9690000],
 [1988, 'PHI', 65, 96, 'N', 1990041.0, 13838000],
 [1988, 'PIT', 85, 75, 'N', 1866713.0, 5998500],
 [1988, 'SDN', 83, 78, 'N', 1506896.0, 9561002],
 [1988, 'SEA', 68, 93, 'N', 1022398.0, 7342450],
 [1988, 'SFN', 83, 79, 'N', 1785297.0, 12380000],
 [1988, 'SLN', 76, 86, 'N', 2892799.0, 12880000],
 [1988, 'TEX', 70, 91, 'N', 1581901.0, 5342131],
 [1988, 'TOR', 87, 75, 'N', 2595175.0, 12241225],
 [1989, 'ATL', 63, 97, 'N', 984930.0, 11112334],
 [1989, 'BAL', 87, 75, 'N', 2535208.0, 8275167],
 [1989, 'BOS', 83, 79, 'N', 2510012.0, 17481748],
 [1989, 'CAL', 91, 71, 'N', 2647291.0, 15097833],
 [1989, 'CHA', 69, 92, 'N', 1045651.0, 7265410],
 [1989, 'CHN', 93, 69, 'N', 2491942.0, 10668000],
 [1989, 'CIN', 75, 87, 'N', 1979320.0, 11072000],
 [1989, 'CLE', 73, 89, 'N', 1285542.0, 9094500],
 [1989, 'DET', 59, 103, 'N', 1543656.0, 15146404],
 [1989, 'HOU', 86, 76, 'N', 1834908.0, 15029500],
 [1989, 'KCA', 92, 70, 'N', 2477700.0, 18683568],
 [1989, 'LAN', 77, 83, 'N', 2944653.0, 21071562],
 [1989, 'MIN', 80, 82, 'N', 2277438.0, 15531666],
 [1989, 'ML4', 81, 81, 'N', 1970735.0, 11533000],
 [1989, 'MON', 81, 81, 'N', 1783533.0, 13807389],
 [1989, 'NYA', 74, 87, 'N', 2170485.0, 17114375],
 [1989, 'NYN', 87, 75, 'N', 2918710.0, 19885071],
 [1989, 'OAK', 99, 63, 'Y', 2667225.0, 15613070],
 [1989, 'PHI', 67, 95, 'N', 1861985.0, 10604000],
 [1989, 'PIT', 74, 88, 'N', 1374141.0, 12737500],
 [1989, 'SDN', 89, 73, 'N', 2009031.0, 14195000],
 [1989, 'SEA', 73, 89, 'N', 1298443.0, 9779500],
 [1989, 'SFN', 92, 70, 'N', 2059701.0, 14962834],
 [1989, 'SLN', 86, 76, 'N', 3080980.0, 16078833],
 [1989, 'TEX', 83, 79, 'N', 2043993.0, 11893781],
 [1989, 'TOR', 89, 73, 'N', 3375883.0, 16261666],
 [1990, 'ATL', 65, 97, 'N', 980129.0, 14555501],
 [1990, 'BAL', 76, 85, 'N', 2415189.0, 9680084],
 [1990, 'BOS', 88, 74, 'N', 2528986.0, 20558333],
 [1990, 'CAL', 80, 82, 'N', 2555688.0, 21720000],
 [1990, 'CHA', 94, 68, 'N', 2002357.0, 9491500],
 [1990, 'CHN', 77, 85, 'N', 2243791.0, 13624000],
 [1990, 'CIN', 91, 71, 'Y', 2400892.0, 14370000],
 [1990, 'CLE', 77, 85, 'N', 1225240.0, 14487000],
 [1990, 'DET', 79, 83, 'N', 1495785.0, 17593238],
 [1990, 'HOU', 75, 87, 'N', 1310927.0, 18330000],
 [1990, 'KCA', 75, 86, 'N', 2244956.0, 23361084],
 [1990, 'LAN', 86, 76, 'N', 3002396.0, 21318704],
 [1990, 'MIN', 74, 88, 'N', 1751584.0, 14602000],
 [1990, 'ML4', 74, 88, 'N', 1752900.0, 19719167],
 [1990, 'MON', 85, 77, 'N', 1373087.0, 16586388],
 [1990, 'NYA', 67, 95, 'N', 2006436.0, 20912318],
 [1990, 'NYN', 91, 71, 'N', 2732745.0, 21722834],
 [1990, 'OAK', 103, 59, 'N', 2900217.0, 19887501],
 [1990, 'PHI', 77, 85, 'N', 1992484.0, 13173667],
 [1990, 'PIT', 95, 67, 'N', 2049908.0, 15556000],
 [1990, 'SDN', 75, 87, 'N', 1856396.0, 17588334],
 [1990, 'SEA', 77, 85, 'N', 1509727.0, 12553667],
 [1990, 'SFN', 85, 77, 'N', 1975528.0, 19335333],
 [1990, 'SLN', 70, 92, 'N', 2573225.0, 20523334],
 [1990, 'TEX', 83, 79, 'N', 2057911.0, 14874372],
 [1990, 'TOR', 86, 76, 'N', 3885284.0, 17756834],
 [1991, 'ATL', 94, 68, 'N', 2140217.0, 18403500],
 [1991, 'BAL', 67, 95, 'N', 2552753.0, 17519000],
 [1991, 'BOS', 84, 78, 'N', 2562435.0, 35167500],
 [1991, 'CAL', 81, 81, 'N', 2416236.0, 33060001],
 [1991, 'CHA', 87, 75, 'N', 2934154.0, 16919667],
 [1991, 'CHN', 77, 83, 'N', 2314250.0, 23175667],
 [1991, 'CIN', 74, 88, 'N', 2372377.0, 26305333],
 [1991, 'CLE', 57, 105, 'N', 1051863.0, 17635000],
 [1991, 'DET', 84, 78, 'N', 1641661.0, 23838333],
 [1991, 'HOU', 65, 97, 'N', 1196152.0, 12852500],
 [1991, 'KCA', 82, 80, 'N', 2161537.0, 26319834],
 [1991, 'LAN', 93, 69, 'N', 3348170.0, 32790664],
 [1991, 'MIN', 95, 67, 'Y', 2293842.0, 23361833],
 [1991, 'ML4', 83, 79, 'N', 1478729.0, 23115500],
 [1991, 'MON', 71, 90, 'N', 934742.0, 10732333],
 [1991, 'NYA', 71, 91, 'N', 1863733.0, 27344168],
 [1991, 'NYN', 77, 84, 'N', 2284484.0, 32590001],
 [1991, 'OAK', 84, 78, 'N', 2713493.0, 36999167],
 [1991, 'PHI', 78, 84, 'N', 2050012.0, 22487332],
 [1991, 'PIT', 98, 64, 'N', 2065302.0, 23634667],
 [1991, 'SDN', 84, 78, 'N', 1804289.0, 22150001],
 [1991, 'SEA', 83, 79, 'N', 2147905.0, 15691833],
 [1991, 'SFN', 75, 87, 'N', 1737478.0, 30967666],
 [1991, 'SLN', 84, 78, 'N', 2448699.0, 21860001],
 [1991, 'TEX', 85, 77, 'N', 2297720.0, 18224500],
 [1991, 'TOR', 91, 71, 'N', 4001527.0, 19902417],
 [1992, 'ATL', 98, 64, 'N', 3077400.0, 34625333],
 [1992, 'BAL', 89, 73, 'N', 3567819.0, 23780667],
 [1992, 'BOS', 73, 89, 'N', 2468574.0, 43610584],
 [1992, 'CAL', 72, 90, 'N', 2065444.0, 34749334],
 [1992, 'CHA', 86, 76, 'N', 2681156.0, 30160833],
 [1992, 'CHN', 78, 84, 'N', 2126720.0, 29829686],
 [1992, 'CIN', 90, 72, 'N', 2315946.0, 35931499],
 [1992, 'CLE', 76, 86, 'N', 1224094.0, 9373044],
 [1992, 'DET', 75, 87, 'N', 1423963.0, 27322834],
 [1992, 'HOU', 81, 81, 'N', 1211412.0, 15407500],
 [1992, 'KCA', 72, 90, 'N', 1867689.0, 33893834],
 [1992, 'LAN', 63, 99, 'N', 2473266.0, 44788166],
 [1992, 'MIN', 90, 72, 'N', 2482428.0, 28027834],
 [1992, 'ML4', 92, 70, 'N', 1857351.0, 31013667],
 [1992, 'MON', 87, 75, 'N', 1669127.0, 15822334],
 [1992, 'NYA', 76, 86, 'N', 1748737.0, 37543334],
 [1992, 'NYN', 72, 90, 'N', 1779534.0, 44602002],
 [1992, 'OAK', 96, 66, 'N', 2494160.0, 41035000],
 [1992, 'PHI', 70, 92, 'N', 1927448.0, 24383834],
 [1992, 'PIT', 96, 66, 'N', 1829395.0, 33944167],
 [1992, 'SDN', 82, 80, 'N', 1721406.0, 26854167],
 [1992, 'SEA', 64, 98, 'N', 1651367.0, 23179833],
 [1992, 'SFN', 72, 90, 'N', 1560998.0, 33163168],
 [1992, 'SLN', 83, 79, 'N', 2418483.0, 27583836],
 [1992, 'TEX', 77, 85, 'N', 2198231.0, 30128167],
 [1992, 'TOR', 96, 66, 'Y', 4028318.0, 44788666],
 [1993, 'ATL', 104, 58, 'N', 3884720.0, 41641417],
 [1993, 'BAL', 85, 77, 'N', 3644965.0, 29096500],
 [1993, 'BOS', 80, 82, 'N', 2422021.0, 37120583],
 [1993, 'CAL', 71, 91, 'N', 2057460.0, 28588334],
 [1993, 'CHA', 94, 68, 'N', 2581091.0, 39696166],
 [1993, 'CHN', 84, 78, 'N', 2653763.0, 39386666],
 [1993, 'CIN', 73, 89, 'N', 2453232.0, 44879666],
 [1993, 'CLE', 76, 86, 'N', 2177908.0, 18561000],
 [1993, 'COL', 67, 95, 'N', 4483350.0, 10353500],
 [1993, 'DET', 85, 77, 'N', 1971421.0, 38150165],
 [1993, 'FLO', 64, 98, 'N', 3064847.0, 19330545],
 [1993, 'HOU', 85, 77, 'N', 2084618.0, 30210500],
 [1993, 'KCA', 84, 78, 'N', 1934578.0, 41346167],
 [1993, 'LAN', 81, 81, 'N', 3170393.0, 39331999],
 [1993, 'MIN', 71, 91, 'N', 2048673.0, 28217933],
 [1993, 'ML4', 69, 93, 'N', 1688080.0, 23806834],
 [1993, 'MON', 94, 68, 'N', 1641437.0, 18899333],
 [1993, 'NYA', 88, 74, 'N', 2416942.0, 42624900],
 [1993, 'NYN', 59, 103, 'N', 1873183.0, 39043667],
 [1993, 'OAK', 68, 94, 'N', 2035025.0, 37812333],
 [1993, 'PHI', 97, 65, 'N', 3137674.0, 28538334],
 [1993, 'PIT', 75, 87, 'N', 1650593.0, 24822467],
 [1993, 'SDN', 61, 101, 'N', 1375432.0, 25511333],
 [1993, 'SEA', 82, 80, 'N', 2052638.0, 32696333],
 [1993, 'SFN', 103, 59, 'N', 2606354.0, 35050000],
 [1993, 'SLN', 87, 75, 'N', 2844977.0, 23367334],
 [1993, 'TEX', 86, 76, 'N', 2244616.0, 36376959],
 [1993, 'TOR', 95, 67, 'Y', 4057947.0, 47279166],
 [1995, 'ATL', 90, 54, 'Y', 2561831.0, 47235445],
 [1995, 'BAL', 71, 73, 'N', 3098475.0, 43942521],
 [1995, 'BOS', 86, 58, 'N', 2164410.0, 32455518],
 [1995, 'CAL', 78, 67, 'N', 1748680.0, 31223171],
 [1995, 'CHA', 68, 76, 'N', 1609773.0, 46961282],
 [1995, 'CHN', 73, 71, 'N', 1918265.0, 29505834],
 [1995, 'CIN', 85, 59, 'N', 1837649.0, 43144670],
 [1995, 'CLE', 100, 44, 'N', 2842745.0, 37937835],
 [1995, 'COL', 77, 67, 'N', 3390037.0, 34154717],
 [1995, 'DET', 60, 84, 'N', 1180979.0, 37044168],
 [1995, 'FLO', 67, 76, 'N', 1700466.0, 24515781],
 [1995, 'HOU', 76, 68, 'N', 1363801.0, 34169834],
 [1995, 'KCA', 70, 74, 'N', 1233530.0, 29532834],
 [1995, 'LAN', 78, 66, 'N', 2766251.0, 39273201],
 [1995, 'MIN', 56, 88, 'N', 1057667.0, 25410500],
 [1995, 'ML4', 65, 79, 'N', 1087560.0, 17798825],
 [1995, 'MON', 66, 78, 'N', 1309618.0, 12364000],
 [1995, 'NYA', 79, 65, 'N', 1705263.0, 48874851],
 [1995, 'NYN', 69, 75, 'N', 1273183.0, 27674992],
 [1995, 'OAK', 67, 77, 'N', 1174310.0, 37739225],
 [1995, 'PHI', 69, 75, 'N', 2043598.0, 30555945],
 [1995, 'PIT', 58, 86, 'N', 905517.0, 18355345],
 [1995, 'SDN', 70, 74, 'N', 1041805.0, 26382334],
 [1995, 'SEA', 79, 66, 'N', 1643203.0, 36481311],
 [1995, 'SFN', 67, 77, 'N', 1241500.0, 36462777],
 [1995, 'SLN', 62, 81, 'N', 1756727.0, 37101000],
 [1995, 'TEX', 74, 70, 'N', 1985910.0, 34581451],
 [1995, 'TOR', 56, 88, 'N', 2826483.0, 50590000],
 [1996, 'ATL', 96, 66, 'N', 2901242.0, 49698500],
 [1996, 'BAL', 88, 74, 'N', 3646950.0, 54490315],
 [1996, 'BOS', 85, 77, 'N', 2315231.0, 42393500],
 [1996, 'CAL', 70, 91, 'N', 1820521.0, 28738000],
 [1996, 'CHA', 85, 77, 'N', 1676403.0, 45139500],
 [1996, 'CHN', 76, 86, 'N', 2219110.0, 33081000],
 [1996, 'CIN', 81, 81, 'N', 1861428.0, 42526334],
 [1996, 'CLE', 99, 62, 'N', 3318174.0, 48107360],
 [1996, 'COL', 83, 79, 'N', 3891014.0, 40179823],
 [1996, 'DET', 53, 109, 'N', 1168610.0, 23438000],
 [1996, 'FLO', 80, 82, 'N', 1746767.0, 31022500],
 [1996, 'HOU', 82, 80, 'N', 1975888.0, 28487000],
 [1996, 'KCA', 75, 86, 'N', 1435997.0, 20281250],
 [1996, 'LAN', 90, 72, 'N', 3188454.0, 35355000],
 [1996, 'MIN', 78, 84, 'N', 1437352.0, 23117000],
 [1996, 'ML4', 80, 82, 'N', 1327155.0, 21730000],
 [1996, 'MON', 88, 74, 'N', 1616709.0, 16264500],
 [1996, 'NYA', 92, 70, 'Y', 2250877.0, 54191792],
 [1996, 'NYN', 71, 91, 'N', 1588323.0, 24479500],
 [1996, 'OAK', 78, 84, 'N', 1148380.0, 21243000],
 [1996, 'PHI', 67, 95, 'N', 1801677.0, 34314500],
 [1996, 'PIT', 73, 89, 'N', 1332150.0, 23017500],
 [1996, 'SDN', 91, 71, 'N', 2187886.0, 28348172],
 [1996, 'SEA', 85, 76, 'N', 2723850.0, 41328501],
 [1996, 'SFN', 68, 94, 'N', 1413922.0, 37144725],
 [1996, 'SLN', 88, 74, 'N', 2654718.0, 40269667],
 [1996, 'TEX', 90, 72, 'N', 2889020.0, 39041528],
 [1996, 'TOR', 74, 88, 'N', 2559573.0, 29555083],
 [1997, 'ANA', 84, 78, 'N', 1767330.0, 31135472],
 [1997, 'ATL', 101, 61, 'N', 3464488.0, 52278500],
 [1997, 'BAL', 98, 64, 'N', 3711132.0, 58516400],
 [1997, 'BOS', 78, 84, 'N', 2226136.0, 43558750],
 [1997, 'CHA', 80, 81, 'N', 1864782.0, 57740000],
 [1997, 'CHN', 68, 94, 'N', 2190308.0, 42155333],
 [1997, 'CIN', 76, 86, 'N', 1785788.0, 49768000],
 [1997, 'CLE', 86, 75, 'N', 3404750.0, 56802460],
 [1997, 'COL', 83, 79, 'N', 3888453.0, 43559667],
 [1997, 'DET', 79, 83, 'N', 1365157.0, 17272000],
 [1997, 'FLO', 92, 70, 'Y', 2364387.0, 48692500],
 [1997, 'HOU', 84, 78, 'N', 2046781.0, 34777500],
 [1997, 'KCA', 67, 94, 'N', 1517638.0, 34655000],
 [1997, 'LAN', 88, 74, 'N', 3319504.0, 45380304],
 [1997, 'MIN', 68, 94, 'N', 1411064.0, 34072500],
 [1997, 'ML4', 78, 83, 'N', 1444027.0, 23655338],
 [1997, 'MON', 78, 84, 'N', 1497609.0, 19295500],
 [1997, 'NYA', 96, 66, 'N', 2580325.0, 62241545],
 [1997, 'NYN', 88, 74, 'N', 1766174.0, 39800400],
 [1997, 'OAK', 65, 97, 'N', 1264218.0, 24018500],
 [1997, 'PHI', 68, 94, 'N', 1490638.0, 36656500],
 [1997, 'PIT', 79, 83, 'N', 1657022.0, 10771667],
 [1997, 'SDN', 76, 86, 'N', 2089333.0, 37363672],
 [1997, 'SEA', 90, 72, 'N', 3192237.0, 41540661],
 [1997, 'SFN', 90, 72, 'N', 1690869.0, 35592378],
 [1997, 'SLN', 73, 89, 'N', 2634014.0, 45456667],
 [1997, 'TEX', 77, 85, 'N', 2945228.0, 53448838],
 [1997, 'TOR', 76, 86, 'N', 2589297.0, 47079833],
 [1998, 'ANA', 85, 77, 'N', 2519280.0, 41281000],
 [1998, 'ARI', 65, 97, 'N', 3610290.0, 32347000],
 [1998, 'ATL', 106, 56, 'N', 3360860.0, 61186000],
 [1998, 'BAL', 79, 83, 'N', 3684650.0, 72355634],
 [1998, 'BOS', 92, 70, 'N', 2314704.0, 56757000],
 [1998, 'CHA', 80, 82, 'N', 1391146.0, 38335000],
 [1998, 'CHN', 90, 73, 'N', 2623194.0, 50838000],
 [1998, 'CIN', 77, 85, 'N', 1793649.0, 23005000],
 [1998, 'CLE', 89, 73, 'N', 3467299.0, 60800166],
 [1998, 'COL', 77, 85, 'N', 3792683.0, 50484648],
 [1998, 'DET', 65, 97, 'N', 1409391.0, 24065000],
 [1998, 'FLO', 54, 108, 'N', 1730384.0, 41322667],
 [1998, 'HOU', 102, 60, 'N', 2458451.0, 42374000],
 [1998, 'KCA', 72, 89, 'N', 1494875.0, 36862500],
 [1998, 'LAN', 83, 79, 'N', 3089222.0, 48820000],
 [1998, 'MIL', 74, 88, 'N', 1811593.0, 33914904],
 [1998, 'MIN', 70, 92, 'N', 1165976.0, 27927500],
 [1998, 'MON', 65, 97, 'N', 914909.0, 10641500],
 [1998, 'NYA', 114, 48, 'Y', 2955193.0, 66806867],
 [1998, 'NYN', 88, 74, 'N', 2287948.0, 52077999],
 [1998, 'OAK', 74, 88, 'N', 1232343.0, 21303000],
 [1998, 'PHI', 75, 87, 'N', 1715722.0, 36297500],
 [1998, 'PIT', 69, 93, 'N', 1560950.0, 15065000],
 [1998, 'SDN', 98, 64, 'N', 2555874.0, 46861500],
 [1998, 'SEA', 76, 85, 'N', 2651511.0, 54087036],
 [1998, 'SFN', 89, 74, 'N', 1925364.0, 42565834],
 [1998, 'SLN', 83, 79, 'N', 3195691.0, 54672521],
 [1998, 'TBA', 63, 99, 'N', 2506293.0, 27280000],
 [1998, 'TEX', 88, 74, 'N', 2927399.0, 56572095],
 [1998, 'TOR', 88, 74, 'N', 2454303.0, 51376000],
 [1999, 'ANA', 70, 92, 'N', 2253123.0, 55388166],
 [1999, 'ARI', 100, 62, 'N', 3019654.0, 68703999],
 [1999, 'ATL', 103, 59, 'N', 3284897.0, 73140000],
 [1999, 'BAL', 78, 84, 'N', 3433150.0, 80605863],
 [1999, 'BOS', 94, 68, 'N', 2446162.0, 63497500],
 [1999, 'CHA', 75, 86, 'N', 1338851.0, 25620000],
 [1999, 'CHN', 67, 95, 'N', 2813854.0, 62343000],
 [1999, 'CIN', 96, 67, 'N', 2061222.0, 33962761],
 [1999, 'CLE', 97, 65, 'N', 3468456.0, 72978462],
 [1999, 'COL', 72, 90, 'N', 3481065.0, 61935837],
 [1999, 'DET', 69, 92, 'N', 2026441.0, 36489666],
 [1999, 'FLO', 64, 98, 'N', 1369421.0, 21085000],
 [1999, 'HOU', 97, 65, 'N', 2706017.0, 54914000],
 [1999, 'KCA', 64, 97, 'N', 1506068.0, 26225000],
 [1999, 'LAN', 77, 85, 'N', 3095346.0, 80862453],
 [1999, 'MIL', 74, 87, 'N', 1701796.0, 43377395],
 [1999, 'MIN', 63, 97, 'N', 1202829.0, 21257500],
 [1999, 'MON', 68, 94, 'N', 773277.0, 17903000],
 [1999, 'NYA', 98, 64, 'Y', 3292736.0, 86734359],
 [1999, 'NYN', 97, 66, 'N', 2725668.0, 65092092],
 [1999, 'OAK', 87, 75, 'N', 1434610.0, 24431833],
 [1999, 'PHI', 77, 85, 'N', 1825337.0, 31692500],
 [1999, 'PIT', 78, 83, 'N', 1638023.0, 24697666],
 [1999, 'SDN', 74, 88, 'N', 2523538.0, 49768179],
 [1999, 'SEA', 79, 83, 'N', 2916346.0, 54125003],
 [1999, 'SFN', 86, 76, 'N', 2078399.0, 46595057],
 [1999, 'SLN', 75, 86, 'N', 3225334.0, 49778195],
 [1999, 'TBA', 69, 93, 'N', 1562827.0, 38870000],
 [1999, 'TEX', 95, 67, 'N', 2771469.0, 76709931],
 [1999, 'TOR', 84, 78, 'N', 2163464.0, 45444333],
 [2000, 'ANA', 82, 80, 'N', 2066982.0, 51464167],
 [2000, 'ARI', 85, 77, 'N', 2942251.0, 81027833],
 [2000, 'ATL', 95, 67, 'N', 3234304.0, 84537836],
 [2000, 'BAL', 74, 88, 'N', 3297031.0, 81447435],
 [2000, 'BOS', 85, 77, 'N', 2585895.0, 77940333],
 [2000, 'CHA', 95, 67, 'N', 1947799.0, 31133500],
 [2000, 'CHN', 65, 97, 'N', 2789511.0, 60539333],
 [2000, 'CIN', 85, 77, 'N', 2577371.0, 46867200],
 [2000, 'CLE', 90, 72, 'N', 3456278.0, 75880771],
 [2000, 'COL', 82, 80, 'N', 3295129.0, 61111190],
 [2000, 'DET', 79, 83, 'N', 2438617.0, 58265167],
 [2000, 'FLO', 79, 82, 'N', 1218326.0, 19872000],
 [2000, 'HOU', 72, 90, 'N', 3056139.0, 51289111],
 [2000, 'KCA', 77, 85, 'N', 1564847.0, 23433000],
 [2000, 'LAN', 86, 76, 'N', 2880242.0, 87924286],
 [2000, 'MIL', 73, 89, 'N', 1573621.0, 36505333],
 [2000, 'MIN', 69, 93, 'N', 1000760.0, 16519500],
 [2000, 'MON', 67, 95, 'N', 926272.0, 32994333],
 [2000, 'NYA', 87, 74, 'Y', 3055435.0, 92338260],
 [2000, 'NYN', 94, 68, 'N', 2820530.0, 79509776],

In [25]:
baseball_dict = []
for list in team_salary_list:
    dictionary={}
    dictionary['year']=list[0]
    dictionary['team']=list[1]
    dictionary['wins']=list[2]
    dictionary['losses']=list[3]
    dictionary['championship']=list[4]
    dictionary['attendance']=list[5]
    dictionary['salary']=list[6]
    baseball_dict.append(dictionary)
    stats.insert_one(dictionary)

In [26]:
baseball_dict[765]

{'year': 2012,
 'team': 'SLN',
 'wins': 88,
 'losses': 74,
 'championship': 'N',
 'attendance': 3262109.0,
 'salary': 110300862,
 '_id': ObjectId('5d6daf29de1ada2dbaf5c48c')}

In [27]:
team_salary_db.to_csv("team_db.csv")